
<div class="col-12 text-center mt-4" style=" background-color: #1cd1b7; padding:5%">
 <p style="color:white"> Furugi is a classified ads website specifically focused on promoting clothing business. Sell or Buy clothes online in Pakistan for the first time right from home. 
    Now you don't have to rush on multiple platforms, you can buy clothes online in Pakistan from one single platform.
     <h3 style="color:white; font-weight:bolder">Buy, sell and rent out your used or new clothes online absolutely free</h3> 

  </p>
  <a href="{% url 'furugi:ads' %}" class="btn btn-primary rounded py-2 px-4 " 
  style="background-color:white; font-weight: bold; color: #1cd1b7">
    View All Ads</a>
</div>