<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Furugi &mdash; Buy, Rent or Sell Clothes online in Pakistan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Biggest online clothing market place of Pakistan where anyone can sell, buy or rent out clothes for free">
    {% load static %}
    <link rel='shortcut icon' type='image/png' href= "{% static 'furugi/images/browser.png' %}">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
  {% load static %}
    <style>
      .site-section{
        margin-top: -50px !important;
      }
    </style>
    <link rel="stylesheet" href="{% static 'furugi/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/image.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/frame.css' %}">
  </head>
  <body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="ABu2O3iY"></script>
  {% include 'furugi/partials/header.html' %}
  {% block main_content %}
  {% endblock %}
  {% include 'furugi/partials/newsletter.html' %}
  {% include 'furugi/partials/footer.html' %}
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <!-- <script src="{% static 'furugi/js/jquery-3.3.1.min.js' %}"></script> -->
  <script src="{% static 'furugi/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="{% static 'furugi/js/jquery-ui.js' %}"></script>
  <script src="{% static 'furugi/js/popper.min.js' %}"></script> 
  <script src="{% static 'furugi/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'furugi/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'furugi/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'furugi/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'furugi/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'furugi/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'furugi/js/aos.js' %}"></script>
  <script src="{% static 'furugi/js/suggested-dropdown.js' %}"></script>
  <script src="{% static 'furugi/js/main.js' %}"></script>
  <script src="{% static 'furugi/js/modal.js' %}"></script>
  <script src="{% static 'furugi/js/frame.js' %}"></script>
  <script src="{% static 'furugi/js/review.js' %}"></script>
  <script src="{% static 'furugi/js/bootstrap-tagsinput.js' %}"></script>
  <script src="{% static 'furugi/js/slider.js' %}"></script>
  
 <script>

    $(document).ready(function() {

        function alignModal(){
        var modalDialog = $(this).find(".modal-dialog");
          
          // Applying the top margin on modal to align it vertically center
          modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 2));
        }
        // Align modal when it is displayed
        $(".modal").on("shown.bs.modal", alignModal);
        
        // Align modal when user resize the window
        $(window).on("resize", function(){
            $(".modal:visible").each(alignModal);
        });   
        
        $(document).on("click", "#view-profile", function () {  
            var id = $(this).data('id');
            $("#profile #block").attr("href", "block/"+id);
        });
    

        $.ajax({
            url : '/get-notifications',
            dataType: 'json',
            success : function(json){
                if(json.data > 0)
                {
                    $('.notifications').append('<span class="badge badge-danger">'+json.data+'</span>');
                }
            }
        });  
        $.ajax({
          url : '/get-items',
          dataType: 'json',
          success : function(json){
              if(json.items > 0)
              {

                $('.cart').append('<span class="badge badge-danger" id="cart-items" style="margin-bottom:5px">'+json.items+'</span>');
          
              }
          }
        });
        $.ajax({
          url : '/get-orders',
          dataType: 'json',
          success : function(json){
              if(json.orders > 0)
              {

                $('.orders').append('<span class="badge badge-danger" id="cart-items" style="margin-bottom:5px">'+json.orders+'</span>');
          
              }
          }
        });
        
        $('address').height(40);
        $('address').each(function(i){
          if ($(this).text().length > 40)
          { 
            $(this).text($(this).text().substring(0,35) + '.....')
          }
   
        });
        
        var path = window.location.pathname.split('/').pop();         
        if (path == "")
        {         
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'Home';
          }).addClass('active');
        } 
        else if (path == "ads"){        
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'Ads';
          }).addClass('active');            
        } 
        else if (path == "chatbox"){        
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'Chatbox';
          }).addClass('active');            
        } 
        else if (path == "blogs"){        
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'Blogs';
          }).addClass('active');            
        } 
        else if (path == "contact"){        
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'Contact Us';
          }).addClass('active');            
        }  
        else if (path == "login"){        
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'Log In';
          }).addClass('active');            
        } 
        else if (path == "user-profile"){        
          $(".dropdown li").filter(function() {
            return $(this).text() == 'My Profile';
          }).addClass('active');            
        } 
        else if (path == "user-ads"){        
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'My Ads';
          }).addClass('active');            
        } 
        else if (path == "user-favorites"){        
          $("nav  #header-ul  li").filter(function() {
            return $(this).text() == 'Favourites';
          }).addClass('active');            
        }       
    }); 
  
      $("input:checkbox").on('click', function() {
        var $box = $(this);
        if ($box.is(":checked")) {
          var group = "input:checkbox[name='" + $box.attr("name") + "']";
          $(group).prop("checked", false);
          $box.prop("checked", true);
        } else {
          $box.prop("checked", false);
        }
      }); 
    
    $(document).on("click", "#add-to-cart", function () {   
        var id = $(this).data('id');
        $.ajax({
          url : '/add-to-cart',
          data : { id : id },
          dataType: 'json',
          success : function(json){ 
         
              $('p.order-text').empty();
              $('p.order-text').text(json.text);
              if(json.items == 1)
              {
                $('.cart').append('<span class="badge badge-danger" id="cart-items" style="margin-bottom:5px">'+json.items+'</span>');
              }
              else if(json.items > 1){
                $('#cart-items').text(json.items);
              }
          },
           error: function(xhr){
              alert(xhr.status);
          },
         
        });
    });

    $(document).on("click", "#delete-item", function () {   
      var id = $(this).data('id');
      $.ajax({
        url : '/delete-item',
        data : { id : id },
        dataType: 'json',
        success : function(json){ 
       
            $('p.order-text').empty();
            $('p.order-text').text(json.text);
            if (json.items > 0 ){
                $('#cart-items').text(json.items);
              }
        },
         error: function(xhr){
            alert(xhr.status);
        },
       
      });
      
    
  });
 
     

  </script>
  </body>
</html>