
    <div class="site-section bg-light">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
              <h2 class="font-weight-light text-primary">Our Blog</h2>
              <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p>
            </div>
          </div>
          <div class="row mb-3 align-items-stretch">
            {% for blog in blogs %} 
            <div class="col-lg-4" >                
              <div class="d-block d-md-flex listing vertical">
                <a  class="img d-block" style="background-image: url( '{{ blog.profile.url}}')"></a>
                <div class="lh-content">                      
                  <h3><a href="{% url 'furugi:blog' blog.slug %}">{{ blog.title}}</a></h3>
                  <div class="meta mb-3"><span class="mx-1">&bullet;</span>{{blog.date}}<span class="mx-1">&bullet;</span> </div>
                  <address>{{blog.body | safe}} </address>                                    
                    <div>                                       
                    {% for tag in data.tags.all %}
                       <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
                    {% endfor %}  
                    </div>        
                </div>
              </div>    
            </div>
            {% endfor %}
              </div>          
           
            <div class="col-12 text-center mt-4">
              <a href="{% url 'furugi:blogs' %}" class="btn btn-primary rounded py-2 px-4 text-white">View All Blogs</a>
            </div>
         
        </div>
      </div>