    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">About</h2>
                <p>Furugi - A platform that aims helping people with local businesses and gives opportunity to anyone to advertise their clothes online in Pakistan.
                  <a href="{% url 'furugi:about' %}">Learn more..</a> </p>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Navigations</h2>
                <ul class="list-unstyled">
                  <li><a href="{% url 'furugi:ads' %}">Ads</a></li>
                  <li><a href="{% url 'furugi:blogs' %}">Blogs</a></li>
                  <li><a href="{% url 'furugi:terms-and-conditions' %}">Terms and Conditions</a></li>
                  <li><a href="{% url 'furugi:privacy-policy' %}">Privacy policy</a></li>
                  <li><a href="{% url 'furugi:contact' %}">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="https://www.facebook.com/Furugi.pk/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="https://twitter.com/furugi_pk" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="https://instagram.com/furugi_pk" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="https://www.linkedin.com/company/65822759" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Furugi. All rights reserved 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>