<link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<style>
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    padding-top: 200px;
  }
  #categories {

    overflow-y: scroll;
    
    height: 400px;
    
    }
</style>
<header class="site-navbar container py-0 bg-white" role="banner" id="navbar">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'furugi:index' %}" class="text-black mb-0">Furu<span class="text-primary">gi</span>  </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
            
              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block" id="header-ul">
                <li ><a href="{% url 'furugi:index' %}">Home</a></li>
                
                <li class="has-children" > <a href="{% url 'furugi:ads' %}">Categories</a>             
                  <ul class="dropdown" id="categories">
                    <li><a href="{% url 'furugi:ads' %}">---All---</a></li>
                    <li><a href="{% url 'furugi:category' 'Summer Wear' %}">Summer Wear</a></li>
                    <li><a href="{% url 'furugi:category' 'Bridal Wear' %}">Bridal Wear</a></li>
                    <li><a href="{% url 'furugi:category' 'Party Wear' %}">Party Wear</a></li>
                    <li><a href="{% url 'furugi:category' 'Couture' %}">Couture</a></li>
                    <li><a href="{% url 'furugi:category' 'Traditional' %}">Traditional</a></li>
                    <li><a href="{% url 'furugi:category' 'Western Wear' %}">Western Wear</a></li>
                    <li><a href="{% url 'furugi:category' 'Sweaters & Jackets' %}">Sweaters & Jackets</a></li>
                    <li><a href="{% url 'furugi:category' 'Pent & Shirts' %}">Pent & Shirts</a></li>
                    <li><a href="{% url 'furugi:category' 'Winter Wear' %}">Winter Wear</a></li>
                    <li><a href="{% url 'furugi:category' 'Night Suits' %}">Night Suits</a></li>
                    <li><a href="{% url 'furugi:category' 'Footwear' %}">Footwear</a></li>
                    <li><a href="{% url 'furugi:category' 'Accessories' %}">Accessories</a></li>
                    <li><a href="{% url 'furugi:category' 'Jewellery' %}">Jewellery</a></li>
                    <li><a href="{% url 'furugi:category' 'Make-up' %}">Make-up</a></li>
                    <li><a href="{% url 'furugi:category' 'Skin & Hair' %}">Skin & Hair</a></li>
                    <li><a href="{% url 'furugi:category' 'Watches' %}">Watches</a></li>
                    <li><a href="{% url 'furugi:category' 'Other' %}">Other</a></li>
                  </ul>
                </li>
                <li ><a href="{% url 'furugi:chatbox' %}"  class="notifications">Chatbox</a></li> 
                <li><a href="{% url 'furugi:orders' %}" style="color:red" class="orders">Orders</a></li>           
                <li><a href="{% url 'furugi:cart' %}" class="cart" title="cart"><i class="fa fa-shopping-bag" style="color:black"></i></a></li>   
                <li><a href="{% url 'furugi:create' %}" class="cta"><span class="bg-primary text-white rounded">+ Post an Ad</span></a></li>
               
               
                {% if user.is_authenticated %}
              
                 <li class="has-children" > <a >{{ user.username }}</a>                
                 
                  <ul class="dropdown">
                   <li><a href="{% url 'furugi:user-profile' %}">My Profile</a></li>
                   <li><a href="{% url 'furugi:user-ads' %}">My Ads</a></li>               
                   <li><a href="{% url 'furugi:user-favorites' %}">Favourites</a></li>                    
                   <li><a href="{% url 'furugi:logout' %}">Logout</a></li>
                  </ul>
                </li>
                   
               {% else %}
               <li class="ml-xl-3 register"><a href="{% url 'furugi:register' %}">Register</a></li>
              
                  <li class="ml-xl-3 login"><a href="{% url 'furugi:login' %}"><span class="border-left pl-xl-4"></span>Log In</a></li>
              
               {% endif %}
          
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
            <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
          </div>

        </div>
   
    </header>
<script>
  // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}

</script>