<div class="row mb-5">
    <div class="col-md-7 text-left border-primary">
      <h2 class="font-weight-light text-primary">Latest Ads</h2>
    </div>
</div>
{% if latest.count > 4%}
<div class="row mt-5">
    <div class="col-12  block-13">
        <div class="owl-carousel nonloop-block-13">
         
    {% for data in latest %}   
    
    <div class="d-block d-md-flex listing vertical">
      <a href="{% url 'furugi:view' data.id data.slug %}" class="img d-block" style="background-image: url( '{{ data.profile.url}}')"></a>
      <div class="lh-content">
            <span class="category">{{data.category}}</span>
            <a href="{% url 'furugi:add-favorites' data.id %}" class="bookmark" data-toggle="tooltip" title="Add to favorites"><span class="icon-heart" ></span></a>
            <h3><a href="{% url 'furugi:view' data.id data.slug %}">{{ data.title}}</a></h3>
            {% if data.description == '' %}
            <address > (no description)</address>
            {% else %}
            <address >  {{ data.description}}</address>        
            {% endif %}   
            {% include 'furugi/advertisment/rating.html' %}    
            <strong>Price: {{ data.price}}</strong>
            <span class="review" style="float:right"><em><small> ({{ data.views}} Views)</small></em></span> 
           <div>                           
              {% for tag in data.tags.all|slice:':2' %}
                 <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
              {% endfor %}
            </div>
          </div>     
        </div>
        {% if forloop.counter == 3 %}
        <div class="d-block d-md-flex listing vertical" style="background-color:#F1F6FB;border:#D6DFD8; height:410px">
            <div class="lh-content">
              <div class="lh-content" style="text-align:center; color:#879F9F; padding-top:55%">          
                <h4><b>Advertise Here</b></h4>                    
                <a href="{% url 'furugi:contact' %}" class="btn btn-info" style="color:white; border-color:grey; ">Contact Us</a>
         </div>    
            </div>     
        </div>
        {% endif %}
        <!-- {% if forloop.counter == 3 %}
        <div class="d-block d-md-flex listing vertical" style="background-color:#1cd1b7; height:430px">
            <div class="lh-content">
              <div class="lh-content" style="text-align:center; color:white; padding:10%">          
                <h4><b>Post Your Ad Here For Free</b></h4>
                <p> Spread your business online, and reach to costumers at large</p>
                <a href="{% url 'furugi:create' %}" class="btn btn-outline-info" style="color:white; border-color:white; ">Post Ad+</a>
            </div>    
            </div>     
        </div>
        {% endif %} -->
    {% endfor %}
</div>
</div>
</div>
{% else %}
<div style="text-align:center" ><h1> All latest ads would be displayed here</h1></div>
{% endif %}