<div class="newsletter bg-primary py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-1">
        </div>
        <div class="col-md-10" style="text-align:center">
          <h2 style="font-size:30px; font-weight:bold">How to get started with FURUGI?</h2>
      
           <p> Furugi is very simple and easy to use. The whole process takes around 2 minutes:  </p> 
          <div style="text-align:left; padding:0% 15%; color:white" >
           <ul >
            <li>Register your account at Furugi. It takes around half minute to register yourself at Furugi.</li>
            <li>Click on "+Post Ad".</li>
            <li>Write down the title of your Ad, description, add photos and select relevant options.</li>
            <li>Once you are done, click "Publish" and your Ad is live.</li>
          </ul>
        </div>
          <p>As soon as your Ad goes live, you will start to receive queries about your Ad and hopefully a good sale. Monitor your stats and orders from your very own personal dashboard</p>

           
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </div>