{% if messages %}       
    {% for message in messages %}   
        {% if message.tags == 'success' %}             
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{ message }}
            </div>
        {% elif  message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Warning!</strong> {{ message }}
            </div>
        {% elif  message.tags == 'info' %}
            <div class="alert alert-info alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Info!</strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}         
{% endif %}    