{% load static %}
<link rel="stylesheet" href="{% static 'furugi/css/pagination.css' %}">

<div class="center">    
    <div class="pagination">                
            {% if dresses.has_other_pages %}        
            {% if dresses.has_previous %}
                <a href="?page={{ dresses.previous_page_number }}">&laquo;</a>
            {% else %}
                <a  class="disabled"><span>&laquo;</span></a>
            {% endif %}
            {% for i in dresses.paginator.page_range %}
                {% if dresses.number == i %}
                <a class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></a>
                {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if dresses.has_next %}
                <a href="?page={{ dresses.next_page_number }}">&raquo;</a>
            {% else %}
            <a class="disabled"><span>&laquo;</span></a>
            {% endif %}
            
        {% endif %}      
    </div>
</div>