<div class="site-section" data-aos="fade">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center border-primary">
        <h2 class="font-weight-light text-primary">Popular Products</h2>
        <p class="color-black-opacity-5">Ads with highest ratings</p>
      </div>
    </div>
    <div class="row">
      {% for data in popular %}
      <div class="col-md-6 mb-4 mb-lg-4 col-lg-4">
        <div class="listing-item">
          <div class="listing-image">
            <img src="{{ data.profile.url}}" alt="Image" style="height: 400px; width:300px ">
          </div>
          <div class="listing-item-content">
            <a href="{% url 'furugi:add-favorites' data.id %}" class="bookmark" data-toggle="tooltip" data-placement="left"
              title="Bookmark"><span class="icon-heart"></span></a>
            <a class="px-3 mb-3 category">{{data.category}}</a>
            <h2 class="mb-1"><a href="{% url 'furugi:view' data.id data.slug %}">{{ data.title}}</a></h2>
            <span class="address">Price : {{data.price}} </span>
            <div>
              {% for tag in data.tags.all|slice:':3' %}
              <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
              {% endfor %}
            </div>
               <div class="fb-share-button" data-href="https://www.furugi.com.pk/ad-view/{{data.id}}/{{data.slug}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.furugi.com.pk%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
               
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>