<div class="row">
    <div class="col-2"></div>
    <div class="col-8" style="background:#F1F6FB;border:#D6DFD8 2px solid;vertical-align:middle;text-align:center; height:150px; padding:40px 30px 40px 30px;color:#879F9F"><b>Advertise Here</b><br/>Mail Us<br/><span style="font-size:small">contact@furugi.com.pk</span></div>
    <div class="col-2"></div>
  </div>