<div class="form-search-wrap" data-aos="fade-up" data-aos-delay="200">
    <form action="{% url 'furugi:searching' %}" method="post">
      {% csrf_token %}
      <div class="row align-items-center" style="text-align:center">
        <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2"></div>
        <div class="col-lg-12 mb-4 mb-xl-0 col-xl-6 text-center" >
          <input type="text" class="form-control rounded" name="title" placeholder="What are you looking for?">
        </div>             
        <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2">
          <input type="submit"  class="btn btn-primary btn-block rounded" value="Search">
        </div>
        <div class="col-lg-12 mb-4 mb-xl-0 col-xl-2"></div>
      </div>            
    </form>
  </div>