
<div class="col-lg-2 ml-auto">
    <div class="mb-5">
      <h3 class="h5 text-black mb-3">Filters</h3>
      <form action="{% url 'furugi:searching' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <div class="select-wrap">
              <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
              <select class="form-control" name="category" id="">
              {% if request.session.category != 'None' %}
                <option value="{{ request.session.category }}">{{ request.session.category }}</option>
              {% endif %}
                <option value="None">All Categories</option>
                <option value="Summer Wear">Summer Wear</option>
                <option value="Bridal Wear">Bridal Wear</option>
                <option value="Party Wear">Party Wear</option>
                <option value="Couture">Couture</option>                 
                <option value="Traditional">Traditional</option>
                <option value="Western Wear">Western Wear</option>
                <option value="Sweaters & Jackets">Sweaters & Jackets</option>
                <option value="Pent & Shirt">Pent & Shirts</option>
                <option value="Winter Wear">Winter Wear</option>
                <option value="Night Suits">Night Suits</option>
                <option value="Footwear">Footwear</option>
                <option value="Accessories">Accessories</option>
                <option value="Jewellery">Jewellery</option>
                <option value="Make-up">Make-up</option>
                <option value="Skin & Hair">Skin & Hair</option>
                <option value="Watches">Watches</option>                
              </select>
            </div>
        </div>
        <div class="form-group">
          <div class="select-wrap">
            <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
            <select class="form-control" name="gender" id="">
            {% if request.session.gender == 'Male' %}                    
              <option value="Male">Male</option>
              <option value="Female">Female</option>  
              <option value="Not Specified">Any</option>
            {% elif request.session.gender == 'Female' %}
              <option value="Female">Female</option>
              <option value="Not Specified">Any</option>
              <option value="Male">Male</option>
            {% else %}
              <option value="Not Specified">Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option> 
            {% endif %}
              
            
            </select>
          </div>
        </div>
        <div class="form-group">
          <p>Max Price: <span id="demo"></span></p>
        </div>
        <div class="form-group">
          <div class="slidecontainer">
            <input type="range" min="1000" max="50000" value="{{ request.session.price }}" class="slider" name="price" id="myRange">
          </div>
        </div>
      
       <input type="submit" class="btn btn-primary btn-block rounded" value="Apply">
      </form>
    </div>
    <div class="mb-5">
      <h3 class="h5 text-black mb-3">Tags </h3>
      <small>(Most common)</small>
      <div>
      {% for tag in tags %}
        <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
      {% endfor %}
      </div>  
    </div>
    {% include 'furugi/partials/long_ads.html' %}
</div>

   
  

    