<div style="background:#F1F6FB;border:#D6DFD8 2px solid;vertical-align:middle;text-align:center;width:260px; height:300px; padding:78px 68px 78px 68px;color:#879F9F">
    <b>Advertise Here</b><br/>Mail Us<br/>
    <span style="font-size:small">contact@furugi.com.pk</span>
</div>
