{% load static %}
    <div class="site-section bg-white" >
      <div class="container">
   
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Testimonials</h2>
          </div>
        </div>
        <div class="slide-one-item home-slider owl-carousel">
         <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="{% static 'furugi/images/person.png' %}" alt="Image" class="img-fluid mb-3">
                <p>Shahjhan Nadeem</p>
              </figure>
              <blockquote>
                <p>&ldquo;Furugi is the best platform to buy, sell or rent out clothes online. It has given opportunity to local business owners to sell clothes online anywhere in Pakistan for free.&rdquo;</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="{% static 'furugi/images/female.png' %}" alt="Image" class="img-fluid mb-3">
                <p>Ayesha Gafoor</p>
              </figure>
              <blockquote>
                <p>&ldquo;Furugi has made my life easy as now I don't have to spend too much time on social media to run my business. I just upload the ad on Furugi and people contact me within hours.&rdquo;</p>
              </blockquote>
            </div>
          </div>
    
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="{% static 'furugi/images/person.png' %}" alt="Image" class="img-fluid mb-3">
                <p>Ali shah</p>
              </figure>
              <blockquote>
                <p>&ldquo;I used to sell clothes on social media but my business was not running very well. Through Furugi, I have got opportunity and my sellings have been increased.&rdquo;</p>
              </blockquote>
            </div>
          </div>
          <div>
            <div class="testimonial">
              <figure class="mb-4">
                <img src="{% static 'furugi/images/female.png' %}" alt="Image" class="img-fluid mb-3">
                <p>Ayesha Murtaza</p>
              </figure>
              <blockquote>
                <p>&ldquo;Literally life has become so easy. I can buy second hand clothes which don't even look second hand. Now I am free from excessive spending on brands.&rdquo;</p>
              </blockquote>
            </div>
          </div>
        
        </div>
      </div>
    </div>