<div class="site-section bg-light">

  <div class="container">
     
    <div class="row mb-5">
      <div class="col-md-7 text-left border-primary">
        <h2 class="font-weight-light text-primary">Trending Today</h2>
      </div>
    </div>
  
    <div class="row mt-5">
      {% for data in trending %}
      <div class="col-lg-6">
        <div class="d-block d-md-flex listing">
          <a href="{% url 'furugi:view' data.dress.id data.dress.slug %}" class="img d-block" style="background-image: url( '{{ data.dress.profile.url}}')"></a>
          <div class="lh-content">
            <span class="category">{{data.dress.category}}</span>
            <a href="{% url 'furugi:add-favorites' data.dress.id %}" class="bookmark" data-toggle="tooltip" title="Add to favorites"><span
                class="icon-heart"></span></a>
            <h3><a href="{% url 'furugi:view' data.dress.id data.dress.slug %}">{{ data.dress.title}}</a></h3>
            {% if data.dress.description == '' %}
            <address > (no description)</address>
            {% else %}
            <address >  {{ data.dress.description}}</address>        
            {% endif %}   
            {% include 'furugi/advertisment/rating.html' %}
            <strong>Price: {{ data.dress.price}}</strong>
            <span class="review" style="float:right"><em><small> ({{ data.dress.views}} Views)</small></em></span>
            <div>
              {% for tag in data.dress.tags.all|slice:':3' %}
              <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
              {% endfor %}
            </div>
               <div class="fb-share-button" data-href="https://www.furugi.com.pk/ad-view/{{data.dress.id}}/{{data.dress.slug}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.furugi.com.pk%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>               
          </div>
        </div>
      </div>
      {% if forloop.counter == 5 %}
      <div class="col-lg-6">
        <div class="d-block d-md-flex listing" style="background-color:#F1F6FB;border:#D6DFD8; height:270px">
          <div class="lh-content" style="text-align:center; color:#879F9F; padding:10%">          
            <h4><b>Advertise Here</b></h4>                    
                <a href="{% url 'furugi:contact' %}" class="btn btn-info" style="color:white; border-color:grey; ">Contact Us</a>
          </div>
        </div>
      </div>
      {% endif %}

      {% endfor %}
      {% for data in rated %}
      <div class="col-lg-6">
        <div class="d-block d-md-flex listing">
          <a href="{% url 'furugi:view' data.id data.slug %}" class="img d-block" style="background-image: url( '{{ data.profile.url}}')"></a>
          <div class="lh-content">
            <span class="category">{{data.category}}</span>
            <a href="{% url 'furugi:add-favorites' data.id %}" class="bookmark" data-toggle="tooltip" title="Add to favorites"><span
                class="icon-heart"></span></a>
            <h3><a href="{% url 'furugi:view' data.id data.slug %}">{{ data.title}}</a></h3>
            {% if data.description == '' %}
            <address > (no description)</address>
            {% else %}
            <address >  {{ data.description}}</address>        
            {% endif %}   
            {% include 'furugi/advertisment/rating.html' %}
            <strong>Price: {{ data.price}}</strong>
            <span class="review" style="float:right"><em><small> ({{ data.views}} Views)</small></em></span>
            <div>
              {% for tag in data.tags.all|slice:':3' %}
              <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
              {% endfor %}
            </div>
               <div class="fb-share-button" data-href="https://www.furugi.com.pk/ad-view/{{data.id}}/{{data.slug}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.furugi.com.pk%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
               
          </div>
        </div>
      </div>
      {% if forloop.counter == 5 %}
      <div class="col-lg-6">
        <div class="d-block d-md-flex listing" style="background-color:#F1F6FB;border:#D6DFD8; height:270px">
          <div class="lh-content" style="text-align:center; color:#879F9F; padding-top:15%">          
            <h4><b>Advertise Here</b></h4>                    
                <a href="{% url 'furugi:contact' %}" class="btn btn-info" style="color:white; border-color:grey; ">Contact Us</a>
          </div>
        </div>
      </div>
      {% endif %}
       <!-- {% if forloop.counter == 5 %}
      <div class="col-lg-6">
        <div class="d-block d-md-flex listing" style="background-color:#1cd1b7; height:270px">
          <div class="lh-content" style="text-align:center; color:white; padding:10%">          
           <h4><b>Post Your Ad Here For Free</b></h4>
           <p> Spread your business online, and reach to costumers at large</p>
           <a href="{% url 'furugi:create' %}" class="btn btn-outline-info" style="color:white; border-color:white; ">Post Ad+</a>
          </div>
        </div>
      </div>
      {% endif %} -->
      {% endfor %}
    </div>
  </div>
</div>