  
{% extends 'furugi/admin/base.html' %}
{% block main_content %}
    <div class="container" style="margin-top:5%">    
      <div style="text-align:center"><h1>Admin Dashboard</h1></div>
      <div style="padding:5%">
      <a href="{% url 'furugi:user-management' %}" class="btn btn-default btn-lg btn-block">User Management</a>
      <hr>
      <a href="{% url 'furugi:user-reporting' %}" class="btn btn-default btn-lg btn-block">User Reporting</a>
      <hr>
      <a href="{% url 'delivery:riders' %}" class="btn btn-default btn-lg btn-block">Riders</a>
      <hr>
      <a href="{% url 'delivery:non-approved/invoices' %}" class="btn btn-default btn-lg btn-block">New Invoices</a>
      </div> 
    </div>
{% endblock %}

