{% extends 'furugi/admin/base.html' %}
{% block main_content %} 
<div class="row"><h1>User Management</h1></div>
<table id="management" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Cnic</th>
            <th>Street</th>
            <th>City</th>
           
            <th >Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %} 
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td> {% for a in user.personal_details_set.all %}                
                {{ a.contact }}
              {% endfor %}</td>
            <td> {% for a in user.personal_details_set.all %}                
                {{ a.id_card_no }}
              {% endfor %}</td>
            <td> {% for a in user.personal_details_set.all %}                
                {{ a.street }}
              {% endfor %}</td>
            <td> {% for a in user.personal_details_set.all %}                
                {{ a.city }}
              {% endfor %}</td>
           
            {% if user.is_active %}
            <td>                
                <a href="{% url 'furugi:deactivate-user' user.id %}" class="btn btn-danger">Deactivate</a>
            </td>
            {% else %}
            <td>                
                <a href="{% url 'furugi:activate-user' user.id %}" class="btn btn-success">Activate</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}