{% extends 'furugi/admin/base.html' %}
{% block main_content %} 
<div class="row"><h1>User Reporting</h1></div>
<table id="reporting" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Reporter</th>
            <th>Against</th>
            <th>Report</th>
            <th>Timestamp</th>          
        </tr>
    </thead>
    <tbody>
        {% for report in reports %} 
        <tr>
            <td>{{report.reporter}}</td>
            <td>{{report.user}}</td>
            <td>{{report.report}}</td>
            <td>{{report.timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}