<h1>
Dear Customer!
</h1>
<div style="height:100px">
<p>This is to inform you that you have recieved a new message in your chatbox. Go and checkout 
    <a href="https://furugi.pk/chatbox">here.</a></p>
</div>


<h3>Regards</h3>
<h4>The Furugi team</h4>
<h4>contact@furugi.com.pk</h4>