<h1>
    Dear Customer!
    </h1>
    <div style="height:100px">
    <p>This is to inform you that you have recieved a new order at FURUGI. Go and checkout 
        <a href="https://furugi.pk/user-orders">here.</a><br> <b>Please note:</b>Deliver this order within two days as delaying in delivery may restrict your access from FURUGI again.</p>
    </div>
    
    
    <h3>Regards</h3>
    <h4>The Furugi team</h4>
    <h4>contact@furugi.com.pk</h4>