<style> 
    .list-inline > li{
        margin: 3% 1%;
    }
    .list-inline > li > a
    {
      line-height:25px !important
    } 
</style>
<div class="col-lg-3 ml-auto">
    <div class="mb-5">
        <div class="card bg-light text-dark ">
            <div class="card-header"  style=" background-color:#30e3ca; color: white">
                <h3 class="card-title" style="font-weight:900" >Price: {{dress.price}}</h3>
            </div>
        </div>        
        <div class="card " style="margin-top:10%">
            {% include 'furugi/partials/notification.html' %}
            <div class="card-header"  style=" background-color:#30e3ca; color: white">
                <h2 style="font-weight:900">Advertiser</h2>
            </div>
            <div class="card-body"  >
                <h4 class="card-title">
                    {{dress.user}}
                </h4>
                <p class="card-text">{{details.city}} - {{details.country}}</p>                
                <div><a  href="#profile" data-toggle="modal">View Profile</a></div>
                <a href="#myModal" class="btn btn-primary" data-toggle="modal">Click to Chat</a>   
                </div> 
          </div>
          <div class="card bg-light text-dark " style="margin-top:15%">
            <div class="card-header"  style=" background-color:#30e3ca; color: white">
                <h3 class="card-title" style="font-weight:900" >All Categories</h3>
            </div>
            <div class="card-body">
                <ul class="list-inline">             
                    <li class="list-inline-item" ><a href="{% url 'furugi:category' 'Summer Wear' %}" class="mr-1 badge badge-info" >Summer Wear</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Bridal Wear' %}" class="mr-1 badge badge-info">Bridal Wear</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Party Wear' %}" class="mr-1 badge badge-info">Party Wear</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Couture' %}" class="mr-1 badge badge-info">Couture</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Traditional' %}" class="mr-1 badge badge-info">Traditional</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Western Wear' %}" class="mr-1 badge badge-info">Western Wear</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Sweaters & Jackets' %}" class="mr-1 badge badge-info">Sweaters & Jackets</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Pent & Shirts' %}" class="mr-1 badge badge-info">Pent & Shirts</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Winter Wear' %}" class="mr-1 badge badge-info">Winter Wear</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Night Suits' %}" class="mr-1 badge badge-info">Night Suits</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Footwear' %}" class="mr-1 badge badge-info">Footwear</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Accessories' %}" class="mr-1 badge badge-info">Accessories</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Jewellery' %}" class="mr-1 badge badge-info">Jewellery</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Make-up' %}" class="mr-1 badge badge-info">Make-up</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Skin & Hair' %}" class="mr-1 badge badge-info">Skin & Hair</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Watches' %}" class="mr-1 badge badge-info">Watches</a></li>
                    <li class="list-inline-item"><a href="{% url 'furugi:category' 'Other' %}" class="mr-1 badge badge-info">Other</a></li>               
                  </ul>               
              </div>
        </div>  
    </div>
    <div class="bs-example">
        <div id="myModal" class="modal">
            {% if not user.is_authenticated %}
            <div class="modal-dialog">
                <div class="modal-content"> 
                    <div class="modal-header" style="background-color:gainsboro">
                        <h5 class="modal-title" style="font-weight:bold">Attention</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" style="text-align:center">
                       <a href="{% url 'furugi:login' %}">Login</a> first to chat 
                    </div>                       
                </div>
            </div>
            {% else %}
            <div class="modal-dialog" id="chat-model">
                <div class="modal-header" style="background-color:#30e3ca; ">
                    <h5 class="modal-title" style="font-weight:bold; color:white">Initialize Chat</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-content" style="border:3px solid white">             
                    <form action="{% url 'furugi:thread' dress.user_id dress.id %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}                 
                    <div class="modal-body">
                    <textarea class="form-control" col='5' rows="3" name='msg' placeholder="Type Your Message....."></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</a>
                    </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div> 
    {% include 'furugi/partials/square_ads.html' %}
        <span style="margin:1%"></span>
    {% include 'furugi/partials/square_ads.html' %}
</div>
{% include 'furugi/account/full_profile.html' %}
{% include 'furugi/account/report.html' %}