<div class="container">
    <div class="row" style="margin-top:60px;">
      <div class="col-md-12">
              <div class="text-right">
                  <button class="btn btn-success btn-green" data-toggle="collapse" data-target="#review" >Leave a Review</button>
              </div>                  
              <div class="collapse" id="review" style="margin:20px; padding:10px; border: 1px solid black; border-radius:5px" >
    
                <div class="col-md-12" >    
                  {% if not user.is_authenticated %}
                  <small style="color:Red;  font-weight:bold">Kindly login first otherwise your comment won't be posted</small>
                  {% endif %}
                
                          <textarea class="form-control animated" cols="50" id="comment" placeholder="Enter your review here..." rows="3" maxlength="10000"></textarea>  
                          <div class="text-right">   
                            <div class="row" style="margin-top:10px; margin-bottom:10px">
                              <div class="col-md-9">
                                <strong >Stars </strong> (upto 5)
                              </div>
                              <div class="col-md-3">                                                                    
                                <input type="number" class="form-control" id="stars" max="5" value="5">
                              </div>
                            </div> 
                          </div>
                          <button  class="btn btn-primary btn-lg btn-block" id="post-review" data-id={{dress.id}} style="background-color: #30e3ca; border: #30e3ca">Post</button>
                  </div>                 
              </div>                   
      </div>
    </div>
  </div>
  {% load static %}
  <script src="{% static 'furugi/js/review.js' %}"></script>