
{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'furugi/css/tags.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<style>
  .red{
    color:red;
  }  
  .col2 {
    width: 16.66% !important;
  }
  .col8 {
      width: 66.66% !important;
  }
  @media only screen and (max-width: 600px) {
      /* For mobile phones: */
      .col2 {
          width: 8.33% !important;
      }
      .col8 {
          width: 86% !important;
      }
  }
</style>
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online-in-pakistan.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Post Ad</h1>
            <p>Create ad and earn money because it is largest online clothing market of Pakistan</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div> 

<div class="row">
  <div class="col2">
  </div>
  <div class="col8">
    <div class="site-section bg-light" style="margin-top: 5%;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 mb-5"  data-aos="fade">
        <h4 class="mb-3" style="text-align:center"><u>Create an Ad</u></h4>
        <form action="{% url 'furugi:create' %}" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="mb-3">
            <label for="title"><b>Title</b><span class="red"> *</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="title" name="title" placeholder="e.g: Maria b exclusive" maxlength="5000" required>
            </div>
          </div>
          <div class="row">       
            <div class="col-md-6 mb-3">
              <label for="category"><b>Category</b></label>
              <select class="custom-select d-block w-100" id="category" name="category" required>           
                <option value="Summer Wear">Summer Wear</option>
                <option value="Bridal Wear">Bridal Wear</option>
                <option value="Party Wear">Party Wear</option>
                <option value="Couture">Couture</option>                 
                <option value="Traditional">Traditional</option>
                <option value="Western Wear">Western Wear</option>
                <option value="Sweaters & Jackets">Sweaters & Jackets</option>
                <option value="Pent & Shirt">Pent & Shirts</option>
                <option value="Winter Wear">Winter Wear</option>
                <option value="Night Suits">Night Suits</option>
                <option value="Footwear">Footwear</option>
                <option value="Accessories">Accessories</option>
                <option value="Jewellery">Jewellery</option>
                <option value="Make-up">Make-up</option>
                <option value="Skin & Hair">Skin & Hair</option>
                <option value="Watches">Watches</option>
                <option value="Other">Other..</option>
              </select>        
            </div>
            <div class="col-md-6 mb-3">
              <label for="gender"><b>For Gender</b></label>
              <select class="custom-select d-block w-100" id="gender" name="gender" required>         
                <option value="Female">Female</option>
                <option value="Male">Male</option>         
              </select>          
            </div> 
          </div>
          <div class="mb-3">
            <label for="description"><b>Description</b> <span class="text-muted">(Optional)</span></label>
            <textarea type="text" class="form-control" id="description" name="description" rows="5" value="" maxlength="10000"></textarea>
          </div>
          <div class="row" style="margin-bottom:5%">
            <div class="container">
              <fieldset class="form-group">
                  <a href="javascript:void(0)" onclick="$('#pro-image').click()"><b>Upload Images</b><span class="red"> *</span><span class="text-muted"> (select multiple together)</span></a>
                  <input type="file" id="pro-image" name="pro-image" accept="image/*" style="display: none;" class="form-control" multiple required>
                </fieldset>
              <div class="preview-images-zone">        
              </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="price"><b>Price <span class="red"> *</span></b></label>
              <input type="number" class="form-control" id="price" name="price" placeholder="" required>              
            </div>
            <div class="col-md-6 mb-3">
              <label><b>Quantity <span class="red"> *</span></b></label>
              <input type="number" class="form-control" name="quantity" value="1" required>              
            </div>
          </div>                
            <div class="row"> 
              <div class="col-md-6 mb-3">
                <label ><b>Tags </b><span class="text-muted">comma separated</span></label>
                <input type="text" value="branded, exclusive, stylish" data-role="tagsinput" id="tags" name ="tags" class="form-control" value="cotton, embroided"  required>
              </div>     
            </div>  
            <div class="row" style="padding:10px">
              <b>Suggested: </b>
              {% for tag in tags %}
                  <span class="mr-1 badge badge-info" style="background-color:darkslateblue; color:white">{{tag}}</span>
              {% endfor %}
            </div>         
          <button class="btn btn-primary btn-sm btn-block" type="submit" style="background-color: #30e3ca; border: #30e3ca">Post</button>
        </form>
      </div>
    </div>
    </div>
    </div>    
  </div>
  <div class="col2">
  </div>
</div>

{% endblock %}