
{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'furugi/css/tags.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online-in-pakistan.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Edit Ad</h1>
            <p>Create ad and earn money because it is largest online clothing market of Pakistan</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div> 
<div class="row">
  <div class="col">
  </div>
  <div class="col-8">
<div class="site-section bg-light" style="margin-top: 5%;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 mb-5"  data-aos="fade">
    <h4 class="mb-3" style="text-align:center"><u><b>Edit Ad</b></u></h4>
    <form action="{% url 'furugi:edit' dress.id %}" method="post" class="needs-validation" enctype="multipart/form-data" validate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="title"><b>Title</b></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="{{dress.title}}" required>
          <div class="invalid-feedback" style="width: 100%;">
            Title is required.
          </div>
        </div>
      </div>
      <div class="row">       
        <div class="col-md-6 mb-3">
          <label for="category"><b>Category</b></label>
          <select class="custom-select d-block w-100" id="category" name="category" required>           
            <option value="{{dress.category}}">{{dress.category}}</option>
            <option value="Summer Wear">Summer Wear</option>
            <option value="Bridal Wear">Bridal Wear</option>
            <option value="Party Wear">Party Wear</option>
            <option value="Couture">Couture</option>                 
            <option value="Traditional">Traditional</option>
            <option value="Western Wear">Western Wear</option>
            <option value="Sweaters & Jackets">Sweaters & Jackets</option>
            <option value="Pent & Shirt">Pent & Shirts</option>
            <option value="Winter Wear">Winter Wear</option>
            <option value="Night Suits">Night Suits</option>
            <option value="Footwear">Footwear</option>
            <option value="Accessories">Accessories</option>
            <option value="Jewellery">Jewellery</option>
            <option value="Make-up">Make-up</option>
            <option value="Skin & Hair">Skin & Hair</option>
            <option value="Watches">Watches</option>
            <option value="Other">Other..</option>
          </select>        
        </div>
        <div class="col-md-6 mb-3">
          <label for="gender"><b>For Gender</b></label>
          <select class="custom-select d-block w-100" id="gender" name="gender" required> 
            {% if dress.gender == "Female" %}
            <option value="Female">Female</option>
            <option value="Male">Male</option> 
            {% else %}
            <option value="Male">Male</option>
            <option value="Female">Female</option>             
            {% endif %}                          
          </select>          
        </div> 
      </div>
      <div class="mb-3">
        <label for="description"><b>Description</b> <span class="text-muted">(Optional)</span></label>
        <textarea type="text" class="form-control" id="description" name="description" rows="5" >{{dress.description}}</textarea>
      </div>
      <div class="row" style="margin-bottom:5%">
        <div class="container">
          <fieldset class="form-group">
               <ul class="list-group">
                <li class="list-group-item">
                  <a href="{{dress.profile.url}}"><img src="{{dress.profile.url}}" alt="..." class="img-thumbnail" height="100px" width="100px"></a>
                {% for pic in pics %}                
                  <a href="{{pic.file.url}}"><img src="{{pic.file.url}}" alt="..." class="img-thumbnail" height="100px" width="100px"></a>
                {% endfor %}
              </li>
              </ul>
              <a href="javascript:void(0)" onclick="$('#pro-image').click()"><b>Upload New Images</b></a>
           
              <input type="file" id="pro-image" name="pro-image" style="display: none;" class="form-control" multiple>
          
            </fieldset>
          <div class="preview-images-zone">        
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label><b>Price</b></label>
          <input type="number" class="form-control" id="price" name="price" placeholder="" value={{dress.price}} required>
         
        </div>
        
        <div class="col-md-6 mb-3">
          <label><b>Quantity</b></label>
          <input type="number" class="form-control"  name="quantity" value={{dress.quantity}} required>              
        </div>
      </div>
      <hr>
      <div class="row"> 
        <div class="col-md-10 ">
          <label ><b>Selected Tags: </b> </label>
          {% for tag in dress.tags.all %}
            <a href="" class="mr-1 badge badge-info">{{ tag.name }}</a> 
          {% endfor %}
        </div>     
      </div>
      <div class="row"> 
        <div class="col-md-6 mb-3">
          <label ><span class="text-muted"><b>Add New Tags:</b></span> </label>
          <input type="text" value="" data-role="tagsinput" id="tags" name ="tags" class="form-control">
        </div>     
      </div>
      <!-- <div style="border-bottom:2px solid darkgrey; margin-bottom:10px"><a href="#optional-edit" title="These fields help customers to directly reach your product as a direct search result." data-toggle="collapse" class="btn btn-link btn-block" placeholder="hi" style="color: darkgrey; font-weight:bold"><i class="fa fa-plus-circle"></i>Optional Fields</a></div>
      <div id="optional-edit" class="collapse">
     
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="category">Category</label>
          <select class="custom-select d-block w-100" id="category" name="category" required>
            {% if dress.category == "Casual" %}
                <option value="Casual">Casual</option>
                <option value="Semi-Formal">Semi-Formal</option>
                <option value="Formal"> Formal</option>            
                
            {% elif dress.category == "Formal" %}
      
            <option value="Formal"> Formal</option>            
            <option value="Casual">Casual</option>
            <option value="Semi-Formal">Semi-Formal</option>
            {% else %}

            <option value="Semi-Formal">Semi-Formal</option>
            <option value="Formal"> Formal</option> 
            <option value="Casual">Casual</option>
            {% endif %}
        
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label for="type">Type</label>
          <select class="custom-select d-block w-100" id="type" name="type" required>       
            {% if dress.type == "Eastern" %}
            <option value="Eastern">Eastern</option>
            <option value="Western">Western</option>
            {% else %}
            <option value="Western">Western</option>
            <option value="Eastern">Eastern</option>
           
            {% endif %}                
           
          </select>          
        </div>    
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="gender">For Gender</label>
          <select class="custom-select d-block w-100" id="gender" name="gender" required> 
            {% if dress.gender == "Female" %}
            <option value="Female">Female</option>
            <option value="Male">Male</option> 
            {% else %}
            <option value="Male">Male</option>
            <option value="Female">Female</option>             
            {% endif %}                          
          </select>          
        </div> 
        <div class="col-md-6 mb-3">
          <label for="size">Size</label>
          <select class="custom-select d-block w-100" id="size" name="size" required>
            {% if dress.size %}
                <option value="{{dress.size}}">{{dress.size}}</option>
            {% else %}
                <option value="Custom">Custom</option>
            {% endif %}
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>       
        </div>
      </div>
      <div class="row">
   
      </div>
      <hr>  
      <div class="row">
        <div class="col-md-6 mb-3">
        <label for="condition">Condition</label>

        <div class="radio">
          {% if dress.condition == "New" %}
                <label><input type="radio" name="condition" value="New" checked>New</label>
          {% else %}
                <label><input type="radio" name="condition" value="New">New</label>
          {% endif %}           
        </div>
        <div class="radio">
          {% if dress.condition == "Used" %}
                <label><input type="radio" name="condition" value="Used" checked>Used</label>
          {% else %}
                <label><input type="radio" name="condition" value="Used">Used</label>
          {% endif %}   
        
        </div>
        </div>
      </div>   
      <div class="row">
        <div class="col-md-9 mb-3" >
          <label for="times">How many times dress has been used?</label>
          <input type="number" name="times" class="form-control" value='{{dress.times_used}}' >
        </div> 
      </div>
      <div class="row"> 
        <div class="col-md-6 mb-3">
          <label for="size">Available For</label>
          <select class="custom-select d-block w-100" id="size" name="available_for" required>

            {% if dress.available_for == "Sell" %}
            <option value="Sell">Sell</option>
            <option value="Rent">Rent</option>
            {% else %}
            <option value="Rent">Rent</option>
            <option value="Sell">Sell</option>
            {% endif %}  
            
          </select>         
        </div>      
      </div>
      <hr>   
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="status">Status</label>
          <select class="custom-select d-block w-100" id="status" name="status" required> 
            {% if dress.status == "Available" %}
            <option value="Available">Available</option>
             <option value="Occupied">Occupied</option> 
            {% else %}
                    <option value="Occupied">Occupied</option> 
                  <option value="Available">Available</option>
            {% endif %}     
            
                   
          </select>
        </div>    

        <div class="col-md-6 mb-3">
          
          {% if details.available_on != '' %}
          <label for="date">Available On <span class="text-muted"><a href="">{{dress.available_on}}</a></span></label>        
          {% else %}
          <label for="date">Available On <span class="text-muted">Select if [status:occupied]</span></label>        
          {% endif %}
          <input type="date" id="date" name="date" class="form-control" >       
        </div>    
      </div>

      <div class="row"> 
        <div class="col-md-6 mb-3">
          <label >Tags:  </label>
          {% for tag in dress.tags.all %}
            <a href="" class="mr-1 badge badge-info">{{ tag.name }}</a> 
          {% endfor %}
        </div>     
      </div>
      <div class="row"> 
        <div class="col-md-6 mb-3">
          <label ><span class="text-muted">Add New Tags:</span> </label>
          <input type="text" value="" data-role="tagsinput" id="tags" name ="tags" class="form-control">
        </div>     
      </div>
      </div> -->
    
      <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
    </form>
  </div>
</div>
</div>
</div>
</div>
<div class="col">
</div>
</div>
{% endblock %}