<p class="mb-0">
  {% if data.stars >= 4.5 or data.stars == None%}
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  {% elif  data.stars >= 3.5 and data.stars < 4.5 %}
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-secondary"></span>
  {% elif  data.stars >= 2.5 and data.stars < 3.5 %}
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-secondary"></span>
  <span class="icon-star text-secondary"></span>
  {% elif  data.stars >= 1.5 and data.stars < 2.5 %}
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-secondary"></span>
  <span class="icon-star text-secondary"></span>
  <span class="icon-star text-secondary"></span>
  {% elif  data.stars < 1.5 %}
  <span class="icon-star text-warning"></span>
  <span class="icon-star text-secondary"></span>
  <span class="icon-star text-secondary"></span>
  <span class="icon-star text-secondary"></span>
  <span class="icon-star text-secondary"></span>

  {% endif %}
</p>