<div class="site-section bg-light" >
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-7 text-left border-primary">
          <h2 class="font-weight-light text-primary">Reviews</h2>
        </div>
      </div>
   
      <div id="reviews">
        {% if not reviews  %}
            <mark>No Reviews Yet</mark>
        {% endif %}
       {% for data in reviews %}

        <div class="col-lg-12">
          <div class="d-block d-md-flex listing">   
            <div class="lh-content">                       
              <div class="row">
                <div class="col-md-4">
                  <h3><a href="">{{data.user_name}}</a></h3>
                </div>
                <div class="col-md-8" style="text-align: right;"><span class="category" style="align-text:left;">{{data.rating_date}}</span></div>
              </div>
              <div>{{data.review}}</div>
              {% include 'furugi/advertisment/rating.html' %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>