{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({{dress.profile.url}});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400"> 
            <div class="row justify-content-center mt-5">
              <div class="col-md-8 text-center">
                <h1>{{dress.title}}</h1>               
              </div>
            </div>           
          </div>
        </div>
      </div>
    </div> 

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">            
            <div class="mb-4">
              <div class="slide-one-item home-slider owl-carousel">
                <div><img src="{{dress.profile.url}}" alt="Image" class="img-fluid"></div>
                {% for pic in pics %}    
                <div><img src="{{pic.file.url}}" alt="Image" class="img-fluid"></div>
                {% endfor %}                                
              </div>
            </div>
          {% if dress.description %}   
           <h4 class="h5 mb-4 text-black">Description</h4>
           <p> {{dress.description}}</p>
          {% endif %}   
          {% for tag in tags %}
          <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag }}</a>
        {% endfor %} 
      
         <div class="row">      
          <div class="col-sm-2 col-md-2 col-5">
              <label style="font-weight:bold;">Size Chart</label>
          </div>
          <div class="col-md-4 col-6" >
            <a href="{% static 'furugi/images/size_chart.jpg' %}">Click to view</a>
          </div>         
         </div>
         <div class="row">
          <div class="col-sm-2 col-md-2 col-5">
              <label style="font-weight:bold;">Category</label>
          </div>
          <div class="col-md-4 col-6" >
            {{dress.category}}
          </div>    
          <div class="col-sm-2 col-md-2 col-5">
            <h4 style="font-weight:bold; "> Price:</h4>
          </div>
          <div class="col-md-4 col-6" >
            <h4>{{dress.price}} </h4>
          </div>            
       </div>
                 
           {% if dress.quantity > 0 %}
          <div class="row" style="float:right; color:white; margin:2%">
            <a class="btn btn-warning" id="add-to-cart" data-id="{{dress.id}}">Add To Cart</a>           
          </div> 
          {% else %}
          <div class="row" style="float:right; color:red; background-color:beige; margin:2%; padding:1%">
            Out Of Stock          
          </div> 
          {% endif %}
              
          <div class="row" style="float:center">
             <p class="order-text" style="font-weight:bold; color:navy; background-color:aquamarine"></p>
          </div>
          
       
          {% include 'furugi/advertisment/add_review.html' %}
          {% include 'furugi/advertisment/reviews.html' %}
        </div>

          {% include 'furugi/advertisment/ad_sidebar.html' %}
      
        </div>
      </div>
    </div>
    {% if ads.count > 1 %}
    <div class="container" style="margin-bottom:5%">
      <div class="row mb-5">
        <div class="col-md-7 text-left border-primary">
          <h2 class="font-weight-light text-primary">Other Ads From Same Advertiser</h2>
        </div>
      </div>
      <div class="col-12  block-13">
        <div class="owl-carousel nonloop-block-13">   
        {% for data in ads %}             
          <div class="d-block d-md-flex listing vertical">
            <a href="{% url 'furugi:view' data.id data.slug %}" class="img d-block" style="background-image: url( '{{ data.profile.url}}')"></a>
            <div class="lh-content">
              <span class="category">{{data.category}}</span>
              <a href="{% url 'furugi:add-favorites' data.id %}" class="bookmark" data-toggle="tooltip" title="Add to favorites"><span class="icon-heart" ></span></a>
              <h3><a href="{% url 'furugi:view' data.id data.slug %}">{{ data.title}}</a></h3>
            
              <strong>Price: {{ data.price}}</strong>
              <span class="review" style="float:right"><em><small> ({{ data.views}} Views)</small></em></span>                
              <div>                           
                {% for tag in data.tags.all|slice:':2' %}
                   <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
                {% endfor %}
              </div>             
            </div>  
          </div>
        {% endfor %}
        </div>
      </div>
    </div> 
    {% endif %}
    {% include 'furugi/partials/banner.html' %}
     {% include 'furugi/partials/trending.html' %}
    {% include 'furugi/partials/testimonials.html' %}  
  
 {% endblock %}   
    
 