{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">

      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Log In</h1>
            <p>To benefit from largest online clothing market of Pakistan</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>  
<div class="site-section bg-light" >
      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-md-7 mb-5"  data-aos="fade">

            <form action="{% url 'furugi:login' %}" method="post" class="p-5 bg-white">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="username">Username </label>
                  <input type="text" id="username" name="username" class="form-control" required>                 
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="subject">Password </label>                 
                  <input type="password" id="subject" name="password" class="form-control" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12">
                  <p>No account yet? <a href="register">Register</a></p>
                </div>
              </div>             

              {% if error != None %}
                <div class="alert alert-danger">
                  {{error}}
                </div>
              {% endif %}

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Sign In" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </div>
              </div>
            </form>           
          </div>
        </div>
      </div>
    </div>
{% endblock %}