{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% include 'furugi/partials/mobile_menu.html' %}
{% load static %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Congratulations!!</h1>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>  
<div class="site-section bg-light" >
      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-md-7 mb-5"  data-aos="fade">
            <div class="d-flex flex-column">
                <p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'furugi:login' %}">sign in</a> now.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}