{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% include 'furugi/partials/mobile_menu.html' %}
{% load static %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Forgot Password</h1>
            <p>No worries, we will back up your access to Pakistan's largest online clothing market</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>  
<div class="site-section bg-light" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 mb-5"  data-aos="fade">
            <h3>Enter a valid email</h3>
            <form  method="post" class="p-5 bg-white">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="email">Email </label>
                  <input type="email" id="email" name="email" class="form-control" required="true">                 
                </div>
              </div>            
             
              <div class="row form-group">
                <div class="col-12">
                  <p> <a href="{% url 'furugi:login' %}">Back to login</a></p>
                </div>
              </div>             

              {% if error != None %}
                <div class="alert alert-danger">
                  {{error}}
                </div>
              {% endif %}

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send reset password link" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
            </form>           
          </div>
        </div>
      </div>
    </div>
{% endblock %}