{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Reset Password</h1>
            <p>Make your access to Pakistan's largest online clothing market safe</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div> 
<div class="site-section bg-light" >
      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-md-7 mb-5"  data-aos="fade">
            <h3>Set new password</h3>
            <form method="post" class="form-signin" class="p-5 bg-white">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black">Old Password</label>
                  <input name="old_password" class="form-control" type="password" id="id_old_password" required="true">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black">New Password </label>
                  <input name="new_password1" class="form-control" type="password" id="id_new_password1" required="true">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black">Confirm Password </label>                 
                  <input name="new_password2" class="form-control" type="password" id="id_new_password2" required="true">
                </div>
              </div>                     

              {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endfor %}
              <div class="row form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary py-2 px-4 text-white" type="submit">Update</button>  
                </div>
              </div>
            </form>            
          </div>
        </div>
      </div>
    </div>
{% endblock %}