{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% include 'furugi/partials/mobile_menu.html' %}
{% load static %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Email has been forwarded</h1>
            <p>No worries, we will back up your access to Pakistan's largest online clothing market</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>  
<div class="site-section bg-light" >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 mb-5"  data-aos="fade">
            <div class="d-flex flex-column">
              <p class="m-auto p-2">
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
              </p>
              <p class="m-auto p-2">
                If you don't receive an email, please make sure you've entered the address you registered with,
                and check your spam folder.
              </p>
              <p class="m-auto p-2"><a href="{% url 'furugi:index' %}">Return to home page</a></p>
          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}