 {% extends 'furugi/partials/base.html' %}
 {% block main_content %}
  {% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/sell-clothes-online.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Register</h1>
            <p>To become part of largest online clothing market of Pakistan</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>  
 <div class="site-section bg-light" >
      <div class="container" >
        <div class="row justify-content-center">
          <div class="col-md-7 mb-5"  data-aos="fade">          
            <form action="{% url 'furugi:register' %}" method="POST" class="p-5 bg-white">
              {% csrf_token %}
         
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="name">Username</label> 
                  <input type="text" id="name" name="username" class="form-control" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" >Contact Number</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text">+92</span>
                    </div>
                    <input type="text" name="contact" class="form-control"  maxlength="10" pattern="[0-9]{10}" required>            
                </div>
                </div>      
              </div>
              
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" name="email" class="form-control" required>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="subject">Password</label> <span class="small">[At least 10 characters]</span>
                  <input type="password" id="subject" name="password" class="form-control"  pattern=".{10,}" required>
                  
                </div>      
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label><input type="checkbox" value="" required> By signing in, you agree to our <a href="{% url 'furugi:terms-and-conditions' %}">terms and conditions</a> and <a href="{% url 'furugi:privacy-policy' %}">privacy policy</a></label>
                  </div>
                </div>      
              </div>
        
              {% if error != None %}
                <div class="alert alert-danger">
                  {{error}}
                </div>
              {% endif %}
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Sign In" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-12">
                  <p>Have an account? <a href="login">Log In</a></p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 {% endblock %}