<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Furugi &mdash; Buy or Rent Clothes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
  {% load static %}

    <link rel="stylesheet" href="{% static 'furugi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/style.css' %}">
    <style>
      .container {
        margin: 0 auto;        
        height: 50vh;
        width: 50rem;
        margin-top: 10%;
        margin-bottom: 10%;
        background-color:black;
        text-align: center;
        color: white;
      }
      .header{        
        font-weight: 900;
        font-size: 50px;
        font-stretch: narrower;
        line-height: 6rem;
      }
  </style>
  </head>
  <body> 
<div class="container">
   <h1 class="header" ><span>4</span><span>0</span><span>4</span> Error Page</h1>   
   <div class="w3layouts-right"> 
    <div class="w3ls-text"> 
     <h3>we're sorry!</h3> 
     <h4 class="w3-agileits2">OOPS!! There is an error in prompting your request</h4> 
     <p>Please go back to the <a href="{% url 'furugi:index' %}">Home</a> page or contact us at <a href="mailto:contact@furugi.com.pk">contact@furugi.com.pk</a></p> 
     <p class="copyright">&copy; <script type="text/javascript">
  document.write(new Date().getFullYear());
</script> Furugi. All Rights Reserved</p> 
    </div> 
   </div> 
   <div class="clearfix"></div> 
  </div>  
</body>
</html> 