{% extends 'furugi/partials/base.html' %}
{% block main_content %}  
{% load static %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/rent-clothes-online-in-pakistan.jpeg' %}');" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
            
            
            <div class="row justify-content-center mt-5">
              <div class="col-md-8 text-center">
                <h1>About Us</h1>
                <p class="mb-0">A World Class Classified Company</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section"  data-aos="fade">
      <div class="container">       
        <div class="row">
          <div class="col-md-12 ml-auto">
            <p>Furugi - A platform that aims helping people with local businesses and gives opportunity to anyone to advertise their clothes online in Pakistan. We have come up with the idea
              of bringing all people who are interested in clothing business to one platform. Now you don't need to spent time on thousands of social media platforms pages, just post the Ad on Furugi.
              We will spread the dresses accross our community and will search you costumers within a day.</p>
            <p>
              We believe that every business is important and advertisement is the most important factor to establish a business.
We at "FURUGI" giving you opportunity to advertise your clothing wears through online platform that will expand your reach to whole Pakistan. 
Be our initial users and Come, Explore and Use furugi.com.pk , as it is said 
"Be Pakistani, Buy Pakistani"
            </p>
          </div>          
        </div>
      </div>
    </div>    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="{% static 'furugi/images/about.jpeg' %}" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-5 ml-auto">
            <h2 class="text-primary mb-3">Why Us</h2>
            <p>Benefits that you'll get using "FURUGI":</p>
            
            <ul class="ul-check list-unstyled primary">
              <li>Your ad will be reachable to whole Pakistan</li>
              <li>We will share your posted ad with in our whole community</li>
              <li>Inspite of selling, you can rent out your products to costumers as well</li>
              <li>Totally free web presence of your products</li>
              <li>More costumers</li>
              <li>Less scam, as you'll have access to people ID's</li>
              <li>Good analysis of competition in market</li>
              <li>24/7 costumer support to handle complains and problems</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

 {% endblock %}   
    
   