
{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'furugi/css/chatbox.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/jquery-ui.css' %}">
    <link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<style>
  #cover{
    height: 100%;
    color:#05728f;
    background-color: white;
    font-size:30px;
    font-weight: bolder !important;
  }
  @media screen and (max-width: 600px) {
    .inbox_people {width: 80px; padding: 0px;} 
    .chat_img {display: none;}
    .row {font-size: small; padding: 0px;  word-wrap: break-word;}
    .col-8 {width: 66.66%;word-wrap: break-word;}
    .chat_list {padding: 6px 2px;}
    .mesgs {width: 80%; padding:5px 2px 0 2px}
    .inbox_msg { padding: 0.5%;}
    .headind_srch {padding: 6px 2px;}
    #cover{ font-size: 20px;}
  }
  @media screen and (max-width: 430px) {
    .mesgs {width: 75%; padding:5px 2px 0 2px}
  }
  @media screen and (max-width: 360px) {
    .mesgs {width: 70%; padding:5px 2px 0 2px}
  }
  @media screen and (max-width: 300px) {
    .mesgs {width: 65%; padding:5px 2px 0 2px}
  }
</style>
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/online-clothing-store.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>Communicate Great</h1>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>  
<div class="site-section bg-light">
<div class="container" >
  {% include 'furugi/partials/rectangle_ads.html' %}
<div class="row justify-content-center mb-5" style="margin-top:2%">
  <div class="col-md-7 text-center border-primary">
    <h2 class="font-weight-light text-primary">Chatbox</h2>    
  </div>
</div>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading" >
             <h4> Recent</h4>
            </div>
          </div>
          <div class="inbox_chat">
           {% for chat,thread in data %}       
            <div class="chat_list" data-id={{thread.thread.id}}>
              <div class="chat_people" data-id={{request.user.id}}>                
                <div class="chat_img"><a href="#profile" data-toggle="modal" id="view-profile" data-id="{{thread.reciever.id}}"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a></div>
                <div class="row"> 
                <div class="chat_ib" style="font-size: medium"  >
                  {{thread.reciever.username}}<span class="chat_date">
                    {% if chat > 0 %}
                    <span class="badge badge-pill badge-danger">{{chat}}</span>
                    {% endif %}
                  </span>                                 
                </div>
                <div style="text-align:right"><a id="deleteThread" data-id="{{thread.thread.id}}" data-toggle="modal" data-target="#deleteThreadModal" ><i class="fa fa-trash"></i></a></div>
              </div>
              </div>
            </div>
   
        
	      		{% endfor %}
          </div>
		</div>	
        <div class="mesgs" >
          <div class="msg_history">
            <div class="text-center list-group-item" id="cover"><solid><ul>CLICK CHAT T0 VIEW MESSAGES</ul></solid>
              <div style="text-align:Center"><i class="fa fa-comments fa-5x"></i></div></div>     
          </div>          
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" id="chat-msg" class="write_msg" placeholder="Type a message" maxlength="2000"/>
              <button class="msg_send_btn" id="send" type="button" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>  
        </div>
      </div>      
    </div>      
    </div></div>
 
      <!-- Modal -->
      <div id="deleteThreadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content"> 
            <div class="modal-header" style="background-color:red; ">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>                               
            <div class="modal-body">
              <strong>Are you sure you want to delete?</strong>
            </div>
            <div class="modal-footer">                  
              <a href="" id="data" class="btn btn-danger btn-sm">Delete</a>
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->
      {% include 'furugi/account/block_profile.html' %}
{% endblock %}



