{% extends 'furugi/partials/base.html' %}
{% block main_content %}  
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/rent-clothes-online-in-pakistan.jpeg' %}');" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
            <div class="row justify-content-center mt-5">
              <div class="col-md-8 text-center">
                <h1>Contact Us</h1>
                <p class="mb-0">Get In Touch, as every opinion matters</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">          
          <div class="col-md-7 mb-5"  data-aos="fade">
            {% include 'furugi/partials/notification.html' %}
            <form action="{% url 'furugi:contact' %}" method="post" class="p-5 bg-white">
              {% csrf_token %}
              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" name="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" name="lname" class="form-control">
                </div>
              </div>
              <div class="row form-group">                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" name="email" class="form-control">
                </div>
              </div>
              <div class="row form-group">                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" name="subject" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" name="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary py-2 px-4 text-white">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5"  data-aos="fade" data-aos-delay="100">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Dear Customer</h3>
              <p>We appreciate your feedback as your feedback let us know about us. Do aware us regarding any query, complaint and improvement required.</p>
      
            </div>
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">For Direct Communication</h3>
              
              <p class="mb-0 font-weight-bold">Facebook</p>
              <p class="mb-4"><a href="https://www.facebook.com/Furugi.pk">Furugi.pk</a></p>
              <p class="mb-0 font-weight-bold">Instagram</p>
              <p class="mb-4"><a href="https://www.instagram.com/furugi_pk/">@furugi_pk</a></p>
              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="mailto:contact@furugi.com.pk">contact@furugi.com.pk</a></p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Frequently Ask Question</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false" aria-controls="collapse-1" class="accordion-item h5 d-block mb-0">What is Furugi?</a>

              <div class="collapse" id="collapse-1">
                <div class="pt-2">
                  <p class="mb-0">Furugi is the largest online clothing market that aims to give every Pakistani an opportunity to advertise their clothing business and to solve problem of high rates of brands wearables in Pakistan. We can see that brands cost too high and are out of buying power of every Pakistani.
                     Furugi believes that wearing fine clothes is right of every Pakistani. So stop bothering and buy Furugi. </p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-4" role="button" aria-expanded="false" aria-controls="collapse-4" class="accordion-item h5 d-block mb-0">Is this available in my country?</a>

              <div class="collapse" id="collapse-4">
                <div class="pt-2">
                  <p class="mb-0">For now it is only available in Pakistan. But we are hoping to launch it in neighbouring countries soon.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-2" role="button" aria-expanded="false" aria-controls="collapse-2" class="accordion-item h5 d-block mb-0">Is it free?</a>

              <div class="collapse" id="collapse-2">
                <div class="pt-2">
                  <p class="mb-0">Yes Furugi is totally free to you with the platform where you can advertise your private businesses and can reach out to audience at mass.</p>
                </div>
              </div>
            </div>

            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-3" role="button" aria-expanded="false" aria-controls="collapse-3" class="accordion-item h5 d-block mb-0">How do I trust people when renting out clothes?</a>

              <div class="collapse" id="collapse-3">
                <div class="pt-2">
                  <p class="mb-0">Furugi cares for our costumers belongings. That's why Furugi recommend to keep id cards with you when renting out clothes. People are required to give their id, as it has been written in Furugi "Terms and Conditions".</p>
                </div>
              </div>
            </div>
          </div>          
        </div>        
      </div>
    </div>

{% endblock %}