{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}

<style>

  @media screen and (max-width: 600px) {
    #hide {display:none;} 
    #latest {margin-top: 15%;}
  }

  .mr-1 badge badge-info 
  {
    line-height:25px !important
  } 
</style>

  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <div class="site-blocks-cover overlay" style="background-image: url('{% static 'furugi/images/buy-clothes-online-in-pakistan.jpeg' %}')" alt="A beautiful girl in silk dress" data-aos="fade" data-stellar-background-ratio="0.5">
      
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-12">
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1 class="" data-aos="fade-up">Largest Fashion Classifieds In Pakistan</h1>
                <p data-aos="fade-up" data-aos-delay="100">You can buy, sell and rent out clothing wears from anywhere to everywhere online in Pakistan</p>
              </div>
            </div>
            {% include 'furugi/partials/search.html' %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section bg-light">    
      <div class="container">  
        <div style='margin-bottom:5%' > {% include 'furugi/partials/latest.html' %} </div>
  
        <div class="border p-3 rounded mb-2" style="background-color:white; color:#30e3ca;  text-align:justify" id="latest">
          <div class="row mb-5">
            <div class="col-md-12 text-center border-primary">
              <h2 class="font-weight-light text-primary">Explore Now</h2>
            </div>
        </div>
      
          <div style="text-align:center">     
           
            <ul class="list-inline">             
              <li class="list-inline-item" ><a href="{% url 'furugi:category' 'Summer Wear' %}" class="mr-1 badge badge-info" >Summer Wear</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Bridal Wear' %}" class="mr-1 badge badge-info">Bridal Wear</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Party Wear' %}" class="mr-1 badge badge-info">Party Wear</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Couture' %}" class="mr-1 badge badge-info">Couture</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Traditional' %}" class="mr-1 badge badge-info">Traditional</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Western Wear' %}" class="mr-1 badge badge-info">Western Wear</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Sweaters & Jackets' %}" class="mr-1 badge badge-info">Sweaters & Jackets</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Pants & Shirts' %}" class="mr-1 badge badge-info">Pants & Shirts</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Winter Wear' %}" class="mr-1 badge badge-info">Winter Wear</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Night Suits' %}" class="mr-1 badge badge-info">Night Suits</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Footwear' %}" class="mr-1 badge badge-info">Footwear</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Accessories' %}" class="mr-1 badge badge-info">Accessories</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Jewellery' %}" class="mr-1 badge badge-info">Jewellery</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Make-up' %}" class="mr-1 badge badge-info">Make-up</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Skin & Hair' %}" class="mr-1 badge badge-info">Skin & Hair</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Watches' %}" class="mr-1 badge badge-info">Watches</a></li>
              <li class="list-inline-item"><a href="{% url 'furugi:category' 'Other' %}" class="mr-1 badge badge-info">Other</a></li>
            
            </ul>
          </div>         
        </div> 
        {% include 'furugi/partials/rectangle_ads.html' %}
        </div>
    </div>
    <div class="col-12 text-center mt-4" style=" background-color: #1cd1b7; padding:5%">
      <p style="color:white"> <span id="hide">Furugi is a classified ads website specifically focused on promoting fashion business. Sell or Buy fashion wears online in Pakistan for the first time right from home. 
         Now you don't have to rush on multiple platforms, you can do online shopping in Pakistan from one single platform.
        </span> <h3 style="color:white; font-weight:bolder">Buy, sell and rent out your used or new fashion wears online absolutely free</h3> 
     
       </p>
       <a href="{% url 'furugi:ads' %}" class="btn btn-primary rounded py-2 px-4 " 
       style="background-color:white; font-weight: bold; color: #1cd1b7">
         View All Ads</a>
     </div>
    {% include 'furugi/partials/popular.html' %}
  
    <div class="col-12 text-center mt-4" style="margin-bottom: 2%;">
      <p style="padding-right:5%; padding-left:5%;  font-weight:bolder;">
        <h4 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> "Furugi is the best place to start a fully functional business of fashion wears for free"
      </h4></p>
      <a href="{% url 'furugi:create' %}" class="btn btn-primary rounded py-2 px-4 text-white"  >
        Post Ad+</a>
    </div>
    {% include 'furugi/partials/rectangle_ads.html' %}
    {% include 'furugi/partials/trending.html' %}
    <div class="col-12 text-center mt-4" style=" background-color: #1cd1b7; padding:5%">
      <h3 style="color:white; font-weight:bolder">Our goal is to enable anyone who wants to do fashion business online for free</h3> 
       <a href="{% url 'furugi:ads' %}" class="btn btn-primary rounded py-2 px-4 " 
       style="background-color:white; font-weight: bold; color: #1cd1b7">
         View All Ads</a>
     </div>
    {% include 'furugi/partials/testimonials.html' %}
    {% include 'furugi/partials/blog.html' %}
  </div>
{% endblock %}