{% extends 'furugi/partials/base.html' %}
{% block main_content %}  
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover overlay" style="background-image: url('{% static 'furugi/images/online-clothing-market-in-pakistan.jpeg' %}')" alt="A beautiful girl in blue dress" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-12">
        <div class="row justify-content-center mb-4">
          <div class="col-md-8 text-center">
            <h1 class="" data-aos="fade-up">Choose what you'd love</h1>
            <p data-aos="fade-up" data-aos-delay="100">Buy clothes in Pakistan from anywhere and sell to everywhere online in Pakistan</p>
          </div>
        </div>
        {% include 'furugi/partials/search.html' %}
      </div>
    </div>
  </div>
</div>
    <div class="site-section" >
      <div class="container">     
        <form action="{% url 'furugi:sort' %}" method="post">
          {% csrf_token %}
          <div class="row">          
            <div class="col-sm-2">
              <div class="form-group">
                <div class="select-wrap">
                  <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                  <select class="form-control" name="sort">   
                    <option value="Newest">Sort by</option>                
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>  
                  </select>
                </div>
              </div>  
            </div>          
            <div class="col-sm-1">        
              <input type="submit" class="btn btn-primary" style="border-radius:4px" value="Go">
            </div>
          </div>
        </form>
      
        <div class="row">
          <div class="col-lg-10">         
              {% include 'furugi/partials/notification.html' %}
            <div class="row">  
              {% if not dresses %}
               <h2><mark>Poo! No results. Try out some other filters</mark></h2>
              {% else %}
              {% for data in dresses %}                
                  <div class="col-lg-3" >                
                    <div class="d-block d-md-flex listing vertical">
                      <a href="{% url 'furugi:view' data.id data.slug %}" class="img d-block" style="background-image: url( '{{ data.profile.url}}')"></a>
                  
                      <div class="lh-content">
                        <span class="category">  {{ data.category}}</span>
                        <a href="{% url 'furugi:add-favorites' data.id %}" class="bookmark" data-toggle="tooltip" title="Add to favorites"><span class="icon-heart" ></span></a>
                        <h3><a href="{% url 'furugi:view' data.id data.slug %}">{{ data.title}}</a></h3>
                        {% if data.description == '' %}
                        <address> (no description) </address>
                        {% else %}
                        <address> {{ data.description}} </address>       
                        {% endif %}        
                                      
                        {% include 'furugi/advertisment/rating.html' %}    
                          <strong>Price: {{ data.price}}</strong>
                          <span class="review" style="float:right"><em><small> ({{ data.views}} Views)</small></em></span>   
                          <div>  
                            {% for tag in data.tags.all|slice:':2' %}
                                 <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
                            {% endfor %}                           
                          </div>       
                        </div>
                      {% block extra_content %} 
                      {% endblock %}
                    </div>    
                  </div>
                  {% if forloop.counter == 6 %}
                  <div class="col-lg-3">
                    <div class="d-block d-md-flex listing vertical" style="background-color:#F1F6FB;border:#D6DFD8; height:420px">
                      <div class="lh-content" style="text-align:center; color:#879F9F; padding-top:70%">          
                      <h4><b>Advertise Here</b></h4>                    
                      
                      <a href="{% url 'furugi:contact' %}" class="btn btn-info" style="color:white; border-color:grey; ">Contact Us</a>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  {% if forloop.counter == 14 %}
                  <div class="col-lg-3">
                    <div class="d-block d-md-flex listing vertical" style="background-color:#1cd1b7; height:430px">
                      <div class="lh-content" style="text-align:center; color:white; padding:20%">          
                      <h4><b>Post Your Ad Here For Free</b></h4>
                      <p> Spread your business online, and reach to costumers at large</p>
                      <a href="{% url 'furugi:create' %}" class="btn btn-outline-info" style="color:white; border-color:white; ">Post Ad+</a>
                      </div>
                    </div>
                  </div>
                  {% endif %}
              {% endfor %}
              {% endif %}
            </div>
            {% include 'furugi/partials/pagination.html' %}
        </div>
          {% include 'furugi/partials/sidebar.html' %}     
        </div>
      </div>
    </div>
    {% include 'furugi/partials/trending.html' %}
    {% include 'furugi/partials/testimonials.html' %}      

{% endblock %}