{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<style>
  @media screen and (max-width: 600px) {
    .top {padding-top: 20%;}
  }
</style>
<div class="site-section bg-light" style=" margin-top:10%">
  <div style="background:#F1F6FB;border:#D6DFD8 2px solid;color:#879F9F; margin-top:10%; font-size: 14px; height: 100px; width: 630px; margin-right:20%; margin-left:25%">
    <marquee behavior="alternate" direction="left" scrollamount="2"><span style="float: left; font-family: Oswald, Arial; padding: 0 0 0 2px;">See your Ad here. Email at contact@furugi.com.pk </span></marquee>
  </div>
    <div class="container" style="padding-right:15%;padding-left:15%">
 
      {% if not orders  %}
      <div style="margin-top:5%; padding:20%; font-weight:bold">
        <h2 ><b>No Orders Yet, Put Some Amazing Stuff On FURUGI To Get Orders</b></h2>
        <a href="{% url 'furugi:create' %}" class="btn btn-info"> Post Ad+</a>  
      </div>
      {% else %}
        
      <div class="top" class="row mb-5" style="margin-top:7%;" >
          <div class="col-md-12 text-center border-primary" >
            <h2 class="font-weight-light text-primary">New Orders</h2>
            <p>Make sure to mark orders "Delivered" after delivery</p>
          </div>
      </div>
      {% include 'furugi/partials/notification.html' %}
        <div>          
           {% for data in orders %}
    
           <div class="col-lg-12">
            <div class="d-block d-md-flex listing">
              <a href="{% url 'furugi:view' data.dress.id data.dress.slug %}" class="img d-block" style="background-image: url( '{{ data.dress.profile.url}}')"></a>
              <div class="lh-content">             
                <h3><a href="{% url 'furugi:view' data.dress.id data.dress.slug %}">{{ data.dress.title}}</a></h3>               
                <strong>Price:</strong> {{ data.dress.price}}
                <div><strong>Date Ordered:</strong> {{ data.date}}</div>
                <div><strong>Order by:</strong> {{ data.reciever}}</div>
                <div><strong>Contact:</strong> {{ data.contact}}</div>
                <div><strong>Address:</strong> {{ data.street}}</div>
                <div style="float:right; margin-top:5%">
                  {% if data.cancelled == 1%}
                    <a style="color:maroon">Cancelled by costumer, click 'Noted' to dismiss</a> <a href="{% url 'furugi:delete' data.id %}" class="btn btn-outline-danger btn-sm" >Noted </a>
            
                  {% else %}
                      {% if data.dispatched == 0 %}
                          <a href="{% url 'furugi:dispatch' data.id %}" class="btn btn-outline-success btn-sm" >Dispatch </a>
                      {% else %}
                          <a style="color:darkorange">Dispatched</a>
                      {% endif %}
                      <span>  </span><a href="{% url 'furugi:deliver' data.id %}" class="btn btn-outline-danger btn-sm ">Deliver </a></div>          
                  {% endif %}
                </div>
            </div>
          </div>
            {% endfor %}
        </div>
        {% endif %}
        <div style="text-align:center" ><a href="{% url 'furugi:orders-history' %}" class="btn btn-default" style="width:70%; color:white; background-color:teal">Orders History</a></div>
    </div>
</div>

         
 {% endblock %}   
    
 