<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Furugi &mdash; Buy or Rent Clothes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
  {% load static %}

    <link rel="stylesheet" href="{% static 'furugi/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'furugi/css/style.css' %}">

  </head>
  <body>
<div class="container" style="margin:5%">
    <div class="row mb-5"  >
        <div class="col-md-7 text-left border-primary">
          <h2 class="font-weight-light text-primary">Terms & Conditions</h2>
        </div>
    </div>
    <div class="row mt-5">
        <p>Please read these Terms and Conditions carefully before using the https://www.furugi.com.pk/ website operated by Furugi.
            Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. </p>
        <p><strong> By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.
        </strong> </p>
        <hr>
        <h3><strong>License</strong></h3>

<p>Unless otherwise stated, furugi and/or its licensors own the intellectual property rights for all material on furugi. All intellectual property rights are reserved. You may access this from furugi for your own personal use subjected to restrictions set in these terms and conditions.</p>
<div>
<p>You must not:</p>
<ul>
    <li>Republish material from furugi</li>
    <li>Sell, rent or sub-license material from furugi</li>
    <li>Reproduce, duplicate or copy material from furugi</li>
    <li>Redistribute content from furugi</li>
</ul>
</div>

<p>This Agreement shall begin on the date hereof. <br>
Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. furugi does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of furugi,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, furugi shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>

<p>furugi reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>

<p>You warrant and represent that:</p>

<ul>
    <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so.</li>
    <li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party.</li>
    <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy.</li>
    <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
</ul>

<p>You hereby grant furugi a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>

<h3><strong>Hyperlinking to our Content</strong></h3>
<div>
<p>The following organizations may link to our Website without prior written approval:</p>

<ul>
    <li>Government agencies</li>
    <li>Search engines</li>
    <li>News organizations</li>
    <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
    <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
</ul>
</div>
<p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party site.</p>

<p>We may consider and approve other link requests from the following types of organizations:</p>

<ul>
    <li>commonly-known consumer and/or business information sources</li>
    <li>dot.com community sites</li>
    <li>associations or other groups representing charities</li>
    <li>online directory distributors</li>
    <li>internet portals</li>
    <li>accounting, law and consulting firms; and</li>
    <li>educational institutions and trade associations.</li>
</ul>

<p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of furugi; and (d) the link is in the context of general resource information.</p>

<p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party site.</p>

<p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to furugi. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>

<p>Approved organizations may hyperlink to our Website as follows:</p>

<ul>
    <li>By use of our corporate name; or</li>
    <li>By use of the uniform resource locator being linked to; or</li>
    <li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party site.</li>
</ul>

<p>No use of furugi's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
<div>
<h3><strong>iFrames</strong></h3>
<p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
</div>
        <h3><strong>Personal Information</strong></h3>
        <p>By signing in, you are required to provide all correct personal information asked. Furugi is liable to deactivate your account if found your account information falsified.  </p>
        <h3><strong>Advertisment</strong></h3>
        <p>Furugi allows you to chat with other customers through chatbox. You are required to observe certain norms and regulations while communicating as use of any false and abusive language will result in blockage of your account. While renting out clothes, Furugi gives you right to take id cards of respective customer.</p>
        <h3><strong>Content</strong></h3>
        <p>Our Service allows you to post, edit, delete and share the ads. You are responsible for the originality and availability of context. It is required to delete ads that are no more active. </p>
        <h3><strong>Links To Other Web Sites</strong></h3>
        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Furugi.
            Furugi has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Furugi shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
        </p>
        <h3><strong>Reservation of Rights</strong></h3>

<p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and its linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>

<h3><strong>Removal of links from our website</strong></h3>

<p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>

<p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
  
  <a href={% url 'furugi:index' %} class="btn btn-primary"> I have read and accepted </a>
    </div>
</div>

  </body>
</html>