{% extends 'furugi/listings.html' %}
{% block extra_content %} 

<style>
  .modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
</style>
        <div class="card-body">                                 
            <a href="ad-edit/{{data.id}}" class="btn btn-warning btn-sm" >Edit</a>
            <a href="" id="popup" data-toggle="modal" data-id="{{data.id}}" data-target="#deleteModal" class="btn btn-danger btn-sm">Delete</a>
        </div>
        <!-- Modal -->
         <div id="deleteModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content"> 
                <div class="modal-header" style="background-color:red; ">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>                               
                <div class="modal-body">
                  <strong>Are you sure you want to delete this ad?</strong>
                </div>
                <div class="modal-footer">                  
                  <a href="" id="data" class="btn btn-danger btn-sm">Delete</a>
                  <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div> 
          <!-- End Modal -->
           
{% endblock %}