{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<style>
  input[type=text] {
    border: none;
    border-bottom: 2px solid red;
  }
  input[readonly] {
    border:none; 
  }
  @media screen and (max-width: 600px) {
    .top {padding-top: 20%; padding-bottom: 5%;}
  }
</style>
<div class="site-section bg-light" style=" margin-top:10%">
  <div style="background:#F1F6FB;border:#D6DFD8 2px solid;color:#879F9F; margin-top:10%; font-size: 14px; height: 100px; width: 630px; margin-right:20%; margin-left:25%">
    <marquee behavior="alternate" direction="left" scrollamount="2"><span style="float: left; font-family: Oswald, Arial; padding: 0 0 0 2px;">See your Ad here. Email at contact@furugi.com.pk </span></marquee>
  </div>
      <div class="container" style="padding-right:15%;padding-left:15%">
      
      {% if not dresses  %}
      <div style="margin-top:5%; padding:20%; font-weight:bold">
        <h2 ><b>No items, Add some</b></h2>
        <a href="{% url 'furugi:ads' %}"> Shop Now</a>
      </div>
      {% else %}

       
        <div class="top" class="row mb-5" style="margin-top:7%;" >
          <div class="col-md-12 text-center border-primary" >
            <h2 class="font-weight-light text-primary">Cart</h2>
          </div>
      </div>
      {% include 'furugi/partials/notification.html' %}
           {% for data in dresses %}
    
           <div class="col-lg-12">
            <div class="d-block d-md-flex listing">
              <a href="{% url 'furugi:view' data.dress.id data.dress.slug %}" class="img d-block" style="background-image: url( '{{ data.dress.profile.url}}')"></a>
              <div class="lh-content">             
                <h3><a href="{% url 'furugi:view' data.dress.id data.dress.slug %}">{{ data.dress.title}}</a></h3>               
                <strong>Price: {{ data.dress.price}}</strong>
                <div style="float:right"><a href="{% url 'furugi:delete-item' data.dress.id %}" ><i class="fa fa-trash" style="color:maroon;"></i> </a></div>          
            </div>
            </div>
          </div>
            {% endfor %}
          <form action="{% url 'furugi:order' %}" method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="col-lg-12">
              <div class="d-block d-md-flex listing">  
               
                <div class="lh-content"> 
                  <div class="row mb-5">
                    <div class="col-md-12 text-center border-primary" >
                      <h2 class="font-weight-light text-primary">Make sure all information is correct</h2>
                    </div>
                </div>
                   
                  <div class="row" style="text-align:center">
                   
                    <div class="col-lg-4" style="text-align:right; ">              
                      <b>Username:</b>
                    </div>
                    <div class="col-lg-6" style="float:left">  
                      <input class="form-control" value="{{user.username}}" readonly>            
                    </div>
                  </div>                      
                  <div class="row" style="text-align:center">
                    <div class="col-lg-4" style="text-align:right; ">              
                      <b>Email:</b>
                    </div>
                    <div class="col-lg-6" style="float:left">  
                      <input type="email" class="form-control" name="email" value="{{user.email}}" readonly>            
                    </div>
                  </div>
                  <div class="row" style="text-align:center">
                    <div class="col-lg-4" style="text-align:right; ">              
                      <b>Contact:</b>
                    </div>
                    <div class="col-lg-6" style="float:left">  
                      <input type="text" class="form-control" name="contact" value="{{details.contact}}" >            
                    </div>
                  </div>
                  <div class="row" style="text-align:center">
                    <div class="col-lg-4" style="text-align:right; ">              
                      <b>Address:</b>
                    </div>
                    <div class="col-lg-6" style="float:left">  
                      <input type="text" class="form-control" name="address" value="{{details.street}}" >            
                    </div>
                  </div>
                  <div class="row" style="text-align:center">
                    <div class="col-lg-4" style="text-align:right; ">              
                     
                    </div>
                    <div class="col-lg-3" style="float:left">  
                      <input type="text" class="form-control" value="{{details.city}}" >            
                    </div>
                    <div class="col-lg-3" style="float:left">  
                      <input type="text" class="form-control" value="{{details.country}}" >            
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="col-lg-12" style="text-align:center">
              <button type="submit" class="btn btn-danger">Order</button>
            </div>
            </form>
        {% endif %}
        <div style="text-align:center; margin-top:5%" ><a href="{% url 'furugi:past-orders' %}" class="btn btn-default" style="width:70%; color:white; background-color:teal">Past Orders</a></div>

    </div>
</div>

         
 {% endblock %}   
    
 