{% extends 'furugi/partials/base.html' %}
{% block main_content %}
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<style>

    .col2 {
        width: 16.66% !important;
    }
    .col8 {
        width: 66.66% !important;
    }
    @media only screen and (max-width: 600px) {
        /* For mobile phones: */
        .col2 {
            width: 8.33% !important;
        }
        .col8 {
            width: 83.33% !important;
        }
    }
 
</style>
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/rent-clothes-online.jpeg' %}')" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
        <div class="row justify-content-center mt-5">
          <div class="col-md-8 text-center">
            <h1>My Profile</h1>
            <p>Build trust by completing your profile as users with complete profile are trusted more</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>  
<div class="row">
    <div class="col2" >    
    
    </div>
<div class="col8" >
<div class="site-section bg-light" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 mb-5"  data-aos="fade">
         <a href="{% url 'password_change' %}" class="btn btn-outline-info waves-effect" style='float:right' >Change Password</a>

      <h4 class="mb-3">Add profile information</h4>
    <form action="{% url 'furugi:user-profile' %}" method="post" class="needs-validation" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
        <label for="username">Username</label>
        <div class="input-group">
            <div class="input-group-prepend">
            <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" value="{{user.username}}" readonly >            
        </div>
        </div>
        <div class="mb-3">
            <label for="email">Email </label>
            <input type="email" class="form-control" id="email" value="{{user.email}}" readonly>      
        </div>
        <div class="row form-group">
            <div class="col-md-12">
              <label class="text-black" >Contact Number</label>
              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">+92</span>
                </div>
                <input type="text" name="contact" class="form-control"  maxlength="10" pattern="[0-9]{10}" value="{{contact}}" required>            
            </div>
            </div>      
          </div>
        <div style="margin-top:10px; margin-bottom:10px;text-align: right">
            <div class="checkbox">            
                {% if details.contact_visible == True %}
                <label><input type="checkbox" name="contact_visible" checked><small>  Visible to public</small></label>
                {% else %}
                <label><input type="checkbox" name="contact_visible" ><small>  Visible to public</small></label>
                {% endif %}
            </div>
        </div> 
    
             <hr class="mb-4"> 
           <div class="row">          
            <div class="col-md-6 mb-3">
                <label for="gender">Gender </label>
                <select class="custom-select d-block w-100" id="gender" name="gender"  >
                {% if details.gender == "Female" %}
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Not specified">Not specified</option>
                {% elif details.gender == "Male" %}
                    <option value="Male">Male</option>
                    <option value="Not specified">Not specified</option>
                    <option value="Female">Female</option>
                {% else %}
                    <option value="Not specified">Not specified</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                {% endif %}
                </select>          
            </div>       
            <div class="col-md-6 mb-3">
                <label for="id">ID Card No <span class="text-muted">(without dashes)</span></label>               
                <input type="text" class="form-control" data-inputmask="'mask': '9999999999999'" id="id" maxlength="13" name="cnic" value="{{details.id_card_no}}" >                   
            </div>       
        </div>      
 
         <hr class="mb-4"> 
        <div class="mb-3">
            <label for="street">Street Address </label>
            <input type="text" class="form-control" id="street" name="street" value="{{details.street}}" >       
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="city">City</label>
                <input id="cityInput" type="text" class="form-control" name="city" value="{{details.city}}" >
   
            </div>              
        
            <div class="col-md-6 mb-3">
                <label for="country">Country </label>
                <select class="custom-select d-block w-100" id="country" name="country" value="{{details.country}}" >
                    {% if details.country %}
                       <option value="{{details.country}}">{{details.country}}</option>
                    {% else %}
                        <option value="">Choose...</option>
                    {% endif %}
                    <option value="Pakistan" selected> Pakistan</option>
                </select>
            </div> 
        </div>
        
        <hr class="mb-4">
              
        <button type="submit"  class="btn btn-primary btn-lg btn-block">Update Information</button>
       </form>
    </div>
    </div>
    </div>
    </div>
</div>
<div class="col2">
</div>
</div>
    <script>
        $(":input").inputmask();
    </script>
  {% endblock %}   