{% extends 'furugi/partials/base.html' %}
{% block main_content %}  
{% load static %}
<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<div class="site-blocks-cover overlay" style="background-image: url('{% static 'furugi/images/online-shopping-in-pakistan.jpeg' %}');" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-12">
        <div class="row justify-content-center mb-4">
          <div class="col-md-8 text-center">
            <h1 class="" data-aos="fade-up">Don't wait to lose it</h1>
            <p data-aos="fade-up" data-aos-delay="100">Grab it at first place</p>
          </div>
        </div>
        {% include 'furugi/partials/search.html' %}
      </div>
    </div>
  </div>
</div> 

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10">
            {% include 'furugi/partials/notification.html' %}
            <div class="row">
              {% for data in dresses %}                          
                  <div class="col-lg-3">                
                    <div class="d-block d-md-flex listing vertical">
                      <a href="{% url 'furugi:view' data.dress.id data.dress.slug %}" class="img d-block" style="background-image: url( '{{ data.dress.profile.url}}')"></a>
                      <div class="lh-content">                   
                        <span class="category">  {{ data.dress.category}}</span>
                        <a href="{% url 'furugi:remove-favorites' data.dress.id %}" class="bookmark" data-toggle="tooltip" title="Remove from favorites"><span class="icon-close" ></span></a>
                        <h3><a href="{% url 'furugi:view' data.dress.id data.dress.slug%}">{{ data.dress.title}}</a></h3>
                        {% if data.dress.description == '' %}
                        <address > (no description)</address>
                        {% else %}
                        <address >  {{ data.dress.description}}</address>        
                        {% endif %}   
                        {% include 'furugi/advertisment/rating.html' %}    
                          <strong>Price: {{ data.dress.price}}</strong>
                          <span class="review" style="float:right"><em><small> ({{ data.dress.views}} Views)</small></em></span>   
                          <div>                                       
                          {% for tag in data.dress.tags.all %}
                          <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
                        {% endfor %}  
                          </div> 
                           
                      
                         <div class="fb-share-button" data-href="https://www.furugi.com.pk/ad-view/{{data.id}}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.furugi.com.pk%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
               </div>
                    </div>    
                  </div>
              {% endfor %}
            </div>

            {% include 'furugi/partials/pagination.html' %}

          </div>
          {% include 'furugi/partials/sidebar.html' %} 
        </div>
      </div>
    </div>

    {% include 'furugi/partials/trending.html' %}
    {% include 'furugi/partials/testimonials.html' %}  
    
  {% endblock %}