{% extends 'furugi/account/profile.html' %}
{% block id_card_pictures %}
<label style="font-weight:bold;">ID card front:</label>
 <div class="row">
    <div class="col-md-8 col-6" class="text-center" id="img-front">                  
        <a href="{{details.id_card_front.url}}"><img src=" {{details.id_card_front.url}}" class="img-thumbnail"></a>
    </div>         
</div>
<label style="font-weight:bold;">ID card back:</label>
 <div class="row">
    <div class="col-md-8 col-6" class="text-center" id="img-back">                  
      <a href="{{details.id_card_back.url}}"><img src=" {{details.id_card_back.url}}" class="img-thumbnail"></a>
    </div>         
</div>
{% endblock %}
{% block button %}
    <button type="button" class="btn btn-outline-danger"  data-dismiss="modal" href="#report" data-toggle="modal" >Report</button>
{% endblock %}