{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
<style>
  @media screen and (max-width: 600px) {
    .top {padding-top: 20%;}
  }
</style>
<div class="site-section bg-light">
  <div style="background:#F1F6FB;border:#D6DFD8 2px solid;color:#879F9F; margin-top:10%; font-size: 14px; height: 100px; width: 630px; margin-right:20%; margin-left:25%">
    <marquee behavior="alternate" direction="left" scrollamount="2"><span style="float: left; font-family: Oswald, Arial; padding: 0 0 0 2px;">See your Ad here. Email at contact@furugi.com.pk </span></marquee>
  </div>
    <div class="container" >
      {% if not ordersD and not ordersND  %}
      <div style="margin-top:5%; padding:20%; font-weight:bold">
        <h2 ><b>No past orders, Create order now</b></h2>
        <a href="{% url 'furugi:ads' %}"> Shop Now</a>
      </div>
      {% else %}

        {% include 'furugi/partials/notification.html' %}
        <div class="top" class="row mb-5" >
          <div class="col-md-12 text-center border-primary" >
            <h2 class="font-weight-light text-primary">Newly Created</h2>
          </div>
      </div>
        <div>          
           {% for data in ordersND %}
    
           <div class="col-lg-12">
            <div class="d-block d-md-flex listing">
              <a href="{% url 'furugi:view' data.dress.id data.dress.slug %}" class="img d-block" style="background-image: url( '{{ data.dress.profile.url}}')"></a>
              <div class="lh-content">             
                <h3><a href="{% url 'furugi:view' data.dress.id data.dress.slug %}">{{ data.dress.title}}</a></h3>               
                <strong>Price:</strong> {{ data.dress.price}}
                <div><strong>Date Ordered:</strong> {{ data.date}}</div>
                <div><strong>Responsible:</strong> {{ data.responsible}}</div>
                <div style="text-align:right">
                  {% if data.dispatched == 0 %}
                      <a href="{% url 'furugi:cancel' data.id %}" class="btn btn-outline-danger btn-sm">Cancel </a>
                  {% else %}
                      <a style="color:gold">On its way to you</a>
                  {% endif %}
              
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
            <hr>
            <div class="row mb-5">
                <div class="col-md-12 text-center border-primary" >
                  <h2 class="font-weight-light text-primary">Delivered</h2>
                </div>
            </div>
            {% for data in ordersD %}
    
           <div class="col-lg-12">
            <div class="d-block d-md-flex listing">
              <a href="{% url 'furugi:view' data.dress.id data.dress.slug %}" class="img d-block" style="background-image: url( '{{ data.dress.profile.url}}')"></a>
              <div class="lh-content">             
                <h3><a href="{% url 'furugi:view' data.dress.id data.dress.slug %}">{{ data.dress.title}}</a></h3>               
                <strong>Price:</strong> {{ data.dress.price}}
                <div><strong>Date Ordered:</strong> {{ data.date}}</div>
                <div><strong>Responsible:</strong> {{ data.responsible}}</div>
                <div><strong>Date Delivered:</strong> {{ data.date_delivered}}</div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

         
 {% endblock %}   
    
 