
 {% load static %}
 <!-- Modal -->

 <div class="modal fade" id="profile" role="dialog" >
    {% if not user.is_authenticated %}
    <div class="modal-dialog">
        <div class="modal-content"> 
            <div class="modal-header" style="background-color:gainsboro">
                <h5 class="modal-title" style="font-weight:bold">Attention</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center; border-bottom: 1px">
               <a href="{% url 'furugi:login' %}">Login</a> first to view advertiser profile 
            </div>                       
        </div>
    </div>
    {% else %}
    <div class="modal-dialog" style="overflow-y: scroll; max-height:85%;  margin-top:50px; margin-bottom:50px;  overflow-y: initial !important; ">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#30e3ca; ">
            <h5 class="modal-title" style="font-weight:bold; color:white">Advertiser Profile</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id="profile-body" style=" height: 400px; overflow-y: auto;">
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Username</label>
                    </div>
                    <div class="col-md-8 col-6" id="username">
                        {{dress.user.username}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Email</label>
                    </div>
                    <div class="col-md-8 col-6" id="email">
                        {{dress.user.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Gender</label>
                    </div>
                    <div class="col-md-8 col-6" id="gender">
                        {{dress.gender}}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Street</label>
                    </div>
                    <div class="col-md-8 col-6" id="street">
                        {{details.street}}
                    </div>
                </div>              
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">City</label>                  
                    </div>                                
                    <div class="col-md-8 col-6">
                        {{details.city}}
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Country</label>                      
                    </div>                                
                    <div class="col-md-8 col-6">                        
                        {{details.country}}
                    </div> 
                </div>
                
                <hr class="mb-4">
                {% if details.contact_visible == True %}
                <div class="row">  
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">Contact:</label>
                    </div>
                    <div class="col-md-8 col-6" >   {{details.contact}}                    
                    </div>                                   
                </div>
                {% endif %}
                <div class="row">  
                    <div class="col-sm-3 col-md-2 col-5">
                        <label style="font-weight:bold;">CNIC:</label>
                    </div>
                    <div class="col-md-8 col-6" id="cnic">   {{details.id_card_no}}                    
                    </div>                                   
                </div>
            
        </div>
        <div class="modal-footer">
          <div>
            {% block button %}
            {% endblock %}
           </div>
        </div>
      </div>
    
    </div>
    
    {% endif %}
  </div>
 
  