
<div id="report" class="modal" >
    <div class="modal-dialog" style="border: 1px solid;">
        <div class="modal-header" style="background-color:#30e3ca; ">
            <h5 class="modal-title" style="font-weight:bold; color:white">Report Advertiser</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-content" style="border:3px solid white" >         
            <form action="{% url 'furugi:report' dress.user_id dress.id %}" method="post" enctype="multipart/form-data" >
                {% csrf_token %}             
            <div class="modal-body">
               <textarea class="form-control" col='5' rows="3" name='report' maxlength="2000" placeholder="Report The Issue....."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-outline-danger">Send</a>
            </div>
            </form>
        </div>
    </div>
</div>