{% extends 'furugi/partials/base.html' %}
{% block main_content %}  
{% load static %}
{% include 'furugi/partials/mobile_menu.html' %}
<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('{% static 'furugi/images/blog.jpeg' %}');" data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-12">
        <div class="row justify-content-center mb-4">
          <div class="col-md-8 text-center">
            <h1 class="" data-aos="fade-up">BLOGS</h1>
            <p data-aos="fade-up" data-aos-delay="100">Checkout the latest news and updates</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="site-section" >
      <div class="container">   
        <div class="row">
          <div class="col-lg-10">         
            <div class="row">         
                {% for blog in blogs %} 
                <div class="col-lg-4" >                
                  <div class="d-block d-md-flex listing vertical">
                    <a  class="img d-block" style="background-image: url( '{{ blog.profile.url}}')"></a>
                    <div class="lh-content">                      
                      <h3><a href="{% url 'furugi:blog' blog.slug %}">{{ blog.title}}</a></h3>
                      <div class="meta mb-3"><span class="mx-1">&bullet;</span>{{blog.date}}<span class="mx-1">&bullet;</span> </div>
                      <address>{{blog.body | safe}} </address>                                    
                        <div>                                       
                        {% for tag in data.tags.all %}
                           <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
                        {% endfor %}  
                        </div>        
                    </div>
                  </div>    
                </div>
                {% endfor %}
            </div>
            {% include 'furugi/partials/pagination.html' %}
        </div>    
        </div>
      </div>
    </div>
{% endblock %}