{% extends 'furugi/partials/base.html' %}
{% block main_content %}
{% load static %}
  <div class="site-wrap">
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <div class="site-blocks-cover overlay" style="background-image: url('{{blog.profile.url}}')" data-aos="fade" data-stellar-background-ratio="0.5">
      <!-- <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-md-12">
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1 class="" data-aos="fade-up">Blogs</h1>
                <p data-aos="fade-up" data-aos-delay="100">You can buy, sell and rent out cloths from anywhere to everywhere online in Pakistan</p>
              </div>
            </div>
           
          </div>
        </div>
      </div>     -->
    </div>
    <div class="site-section bg-light">
        <div class="container">
            <div class="row mb-5"  >
                <div class="col-md-7 text-left border-primary">
                  <h2 class="font-weight-light text-primary">{{blog.title}}</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="meta mb-3"><span class="mx-1">&bullet;</span>{{blog.date}}<span class="mx-1">&bullet;</span> 
                <p>{{blog.body | safe}} </p>
                <div>                           
                    {% for tag in blog.tags.all %}
                       <a href="{% url 'furugi:tagged' tag.slug %}" class="mr-1 badge badge-info">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}